.home-hero-section {
  width: 100%;
  height: fit-content;
  position: relative;
  background-color: var(--site-background-color);
}

.home-hero-section .home-nav {
  z-index: 1;
}

.home-hero-section .toggler-style {
  color: #3d3c3c;
}

.home-hero-section .btn-signup,
.home-hero-section .btn-login {
  color: #3d3c3c !important;
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  text-transform: capitalize;
}

.home-hero-section .btn-signup:hover,
.home-hero-section .btn-login:hover {
  color: #3d3c3c !important;
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  text-transform: capitalize;
}

.home-hero-section .btn-signup:active,
.home-hero-section .btn-login:active {
  color: #3d3c3c !important;
  background-color: transparent !important;
  border: none;
  box-shadow: none;
  text-transform: capitalize;
}

.home-hero-section .btn-signup,
.home-hero-section .btn-cta,
.home-hero-section .btn-signup,
.home-hero-section .btn-cta:hover,
.home-hero-section .btn-signup,
.home-hero-section .btn-cta:active {
  color: var(--site-white-color) !important;
  background-color: var(--site-cta-color) !important;
  border: none;
  box-shadow: none;
  border-radius: 25px;
  padding: 18px 10px;
}

.home-hero-section .hero-container {
  width: 75%;
  max-width: 1200px;
  position: relative;
}

.home-hero-section .hero-text {
  margin-top: 10vh;
}

.home-hero-section .site-heading {
  color: #3d3c3c;
  font-weight: 900;
  font-size: 3rem;
  width: 65%;
}

.home-hero-section .site-paragraph {
  color: #3d3c3c;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 50px;
  width: 55%;
}

.home-hero-section .site-paragraph span {
  font-weight: 800;
}

.home-hero-section .hero-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  background-color: var(--site-background-color);
  border: 0.00078rem solid var(--site-dark-color);
  border-radius: 18px;
  padding: 0.5rem 0.6rem;
}

.home-hero-section .hero-btn-container .email-input {
  border: none;
  font-size: 0.875rem;
  height: 100%;
  outline-width: 0;
  padding: 0.625rem 0.9rem;
  background-color: var(--site-background-color);
}

.home-hero-section .hero-btn-container .email-input::placeholder {
  color: #746e6e;
  font-size: 0.875rem;
}

.home-hero-section .hero-btn-container .sign-up-btn,
.home-hero-section .hero-btn-container .sign-up-btn:hover,
.home-hero-section .hero-btn-container .sign-up-btn:active {
  z-index: 1000;
  background-color: var(--site-cta-color) !important;
  color: var(--site-white-color) !important;
  border-radius: 20px;
  border: none;
  text-transform: capitalize;
  padding: 10px 10px;
}

.home-hero-section .img-container {
  width: 100%;
  height: 80%;
  margin-top: 2vh;
  text-align: right;
  margin-left: auto;
}

.home-hero-section .img-container img {
  height: 595px;
}

.partners-section {
  width: 100%;
  padding: 2.5vh 1vw;
  background-color: #f1f1f1;
}

.partners-container {
  width: 80%;
}

.partners-container img {
  width: 80px;
}

.why-tuturly {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #f9fafd;
}

.why-tuturly__container {
  width: 80%;
}

.why-tuturly__container .intro-header {
  color: var(--site-dark-color);
  font-weight: 500;
  font-size: 1.755rem;
  margin-bottom: 3px;
  text-align: center;
}

.why-tuturly__container .usage-count-header {
  font-size: 2.3rem;
  font-weight: 900;
  text-align: center;
  color: var(--site-dark-color);
  margin-top: 4px;
  margin-bottom: 1px;
}

.why-tuturly__container .usage-info__container {
  margin-top: 2rem;
}

.why-tuturly__container .usage-info__container h3 {
  text-align: center;
  color: var(--site-dark-color);
  font-weight: 500;
}

.why-tuturly-icon__container {
  display: flex;
  flex-direction: column;
  height: 73px;
  padding: 4px 2px;
  align-items: center;
  justify-content: space-between;
}

.why-tuturly-icon__container p {
  padding: 0;
  margin: 0;
  color: #746e6e;
  font-size: 15px;
}

.why-tuturly-logo {
  margin-top: 2.7rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.why-tuturly-logo h4 {
  text-align: center;
  color: var(--site-dark-color);
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.why-tuturly-plus-icon__col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-tuturly-logo img {
  margin-top: 0.4rem;
  width: 310px;
}

.special-section {
  width: 100%;
  height: 100%;
  padding: 1vh 1vw;
  background-color: var(--site-background-color);
  position: relative;
}

.special-section-container {
  width: 85%;
}

.special-section h2 {
  color: var(--site-dark-color);
  font-weight: 800;
  font-size: 3rem;
}

.special-section h4 {
  font-weight: 800;
  color: #3d3c3c;
  font-size: 2rem;
  margin-top: 1rem;
}

.special-section-cta__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 255px;
  margin-top: 1.3rem;
}

.special-section-cta__container p {
  text-align: right;
}

.special-section-container .sign-up-btn,
.special-section-container .sign-up-btn:hover,
.special-section-container .sign-up-btn:active {
  background-color: var(--site-cta-color) !important;
  color: var(--site-white-color) !important;
  border-radius: 20px;
  border: none;
  padding: 15px 15px;
  text-transform: capitalize;
}

.special-section-container p {
  font-weight: 600;
  font-size: 1.288899rem;
  color: #3d3c3c;
}

.tuturly-tracking-section {
  width: 100%;
  padding: 4vh 2vw;
  background-color: var(--site-theme-color);
  position: relative;
}

.tuturly-tracking-section__container {
  width: 85%;
}

.tuturly-tracking-section__container h2 {
  color: var(--site-white-color);
  font-weight: 800;
  font-size: 2.3rem;
  letter-spacing: 3px;
}

.tuturly-tracking-section__container p {
  color: var(--site-white-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.8rem;
  text-align: left;
}

.custom-landing-page-section {
  width: 100%;
  padding: 4vh 2vw;
}

.custom-landing-page-section__container {
  width: 85%;
}

.custom-landing-page-section__container h2 {
  font-weight: 800;
  font-size: 2.3rem;
  letter-spacing: 3px;
  color: #3d3c3c;
}

.custom-landing-page-section__container p {
  color: #3d3c3c;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  text-align: right;
}

.payments-section {
  background: linear-gradient(239.97deg, #476efa 31.69%, #1ea9da 71.29%);
  width: 100%;
  padding: 4vh 2vw;
}

.payments-section__container {
  width: 85%;
}

.payments-section__container h2 {
  color: var(--site-white-color);
  font-weight: 800;
  font-size: 2.3rem;
  letter-spacing: 3px;
}

.payments-section__container p {
  color: var(--site-white-color);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.8rem;
  text-align: left;
}

.notice-section {
  width: 100%;
  padding: 2.5vh 1vw;
  background-color: var(--site-background-color);
  position: relative;
}

.notice-section-container {
  width: 85%;
}

.notice-section h3 {
  color: #3d3c3c;
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.notice-section-cta__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 255px;
  margin-top: 1.3rem;
}

.notice-section-cta__container p {
  text-align: right;
}

.notice-section-container .sign-up-btn,
.notice-section-container .sign-up-btn:hover,
.notice-section-container .sign-up-btn:active {
  z-index: 1000;
  background-color: var(--site-cta-color) !important;
  color: var(--site-white-color) !important;
  border-radius: 20px;
  border: none;
  padding: 15px 15px;
  text-transform: capitalize;
}

.notice-section-container p {
  font-weight: 600;
  font-size: 1.288899rem;
  color: #3d3c3c;
}

.testimonial-section {
  width: 100%;
  height: fit-content;
  padding-top: 5vh;
  padding-bottom: 3rem;
  background-color: #f9fafd;
}

.testimonial-section__container {
  width: 85%;
}

.testimonial-carousel-container {
  margin-top: 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 25px;
}

.testimonial-carousel-container .carousel-inner {
  border-radius: 25px;
  background-color: var(--site-white-color);
}

.testimonial-carousel-custom-tag {
  max-width: 100%;
  height: 300px;
  background-color: var(--site-white-color);
  border-radius: 25px;
}

.testimony-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-custom-tag-user-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.testimonial-user-img {
  margin-right: 0.78rem;
}

.testimonial-username {
  font-weight: 900;
  color: var(--site-dark-color);
  font-size: 20px;
}

.testimonial-role {
  color: var(--site-dark-color);
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.testimonial-testimony {
  color: var(--site-dark-color);
  font-size: 16px;
  margin-top: 7px;
  max-width: 60%;
}

.testimonial-section__container .carousel-indicators li {
  background-color: #3d3c3c;
}

.testimonial-section__container .carousel-indicators .active {
  background-color: var(--site-dark-color);
}

.testimonial-section__container h2 {
  text-align: center;
  color: var(--site-dark-color);
  font-weight: 800;
  font-size: 2.1rem;
}

.testimony-hr {
  border: 0.111122333px solid rgba(0, 0, 0, 0.4);
  width: 70%;
  margin: 7px 0;
}

.testimonial-navigator-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-navigator {
  height: 70px;
  width: 70px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--site-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-navigator i {
  color: var(--site-dark-color);
  font-size: 1.5rem;
}

/* .usage-section {
  width: 100%;
  padding: 5vh 5vw;
  background-color: var(--site-white-color);
}

.usage-container {
  width: 75%;
}

.usage-item {
  height: 350px;
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 18px;
  transition: all 0.3s;
  cursor: pointer;
}

.usage-item:hover {
  transform: translateY(-5px);
}

.usage-item-first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.usage-item-last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.usage-item-regular {
  background-color: #3f7bf5;
}

.usage-item-coloured {
  background-color: #1ea9da;
}

.usage-item__header {
  color: var(--site-white-color);
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.usage-item .usage-item-img-container {
  height: 100px;
  margin-bottom: 10px;
}

.usage-item .usage-item__header {
  margin: 12px 2px;
}

.usage-item p {
  text-align: center;
  color: var(--site-white-color);
  font-weight: 500;
  font-size: 14px;
}

.usage-item ol {
  width: 80%;
  margin: 0 auto;
}

.usage-item ol li {
  text-align: center;
  color: var(--site-white-color);
  font-weight: 600;
  font-size: 11px;
  margin: 5px 1px;
} */

/* .how-it-works {
  width: 100%;
  padding: 10vh 3vw;
  background-color: var(--site-white-color);
  margin-top: 10px;
}

.how-it-works .how-it-works__container {
  width: 80%;
}

.how-it-works h2 {
  color: var(--site-dark-color);
  font-weight: 800;
  font-size: 3rem;
}

.how-it-works p {
  color: var(--site-dark-color);
  font-weight: 400;
  font-size: 17px;
}

.how-it-works .how-it-works__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.how-it-works .how-it-works__item .how-it-works-item-counter {
  font-weight: 500;
  color: var(--site-white-color);
  background-color: var(--site-theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.how-it-works .how-it-works__item .how-it-works__img {
  height: 230px;
}

.how-it-works .how-it-works__item .how-it-works__text {
  text-align: center;
}

.cta-button-container {
  width: 100%;
  margin-top: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .how-it-works .how-it-works__cta-btn {
  background-color: var(--site-cta-color) !important;
  color: var(--site-white-color) !important;
  border-radius: 20px;
  min-width: 35px;
  border: none;
  box-shadow: none;
  text-align: center;
  padding: 20px 11px;
} */

/* .benefits-explainer-section {
  width: 100%;
  margin-top: 2.4rem;
}

.benefits-explainer-section h4 {
  color: var(--site-white-color);
  font-weight: 700;
  font-size: 20px;
  margin-left: 12px;
}

.benefits-explainer-section img {
  margin-bottom: -100px;
}

.benefits-explainer-section ul {
  color: var(--site-white-color);
  line-height: 40px;
}

.benefits-explainer-section ul li {
  margin: 7px 0;
  font-weight: 500;
} */

/* .tools-section {
  width: 100%;
  padding: 13vh 3vw;
  background-color: var(--site-background-color);
  position: relative;
  z-index: -1;
}

.tools-section-container {
  width: 80%;
}

.tools-section h2 {
  color: var(--site-dark-color);
  font-weight: 800;
  font-size: 3rem;
}

.tools-explainer-container {
  margin-top: 1.5rem;
  width: 100%;
}

.tools-explainer-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.tools-explainer-item {
  width: 250px;
  height: 180px;
  background-color: var(--site-white-color);
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 8px;
  margin-right: 8px;
}

.tools-explainer-item img {
  width: 60px;
}

.tools-illustration-image {
  position: absolute;
  width: 200px;
  height: auto;
  z-index: -1;
}

.tools-image-placement1 {
  right: 100px;
  top: 200px;
}

.tools-image-placement2 {
  right: 250px;
  bottom: 250px;
}

.tools-image-placement3 {
  bottom: 190px;
}

.tools-illustration-image .illustration-1 {
  left: 10px;
  top: 70%;
}

.tools-explainer-item p {
  color: var(--site-dark-color);
  font-weight: 700;
  font-size: 13.4px;
}

.tools-info__h3 {
  font-weight: 900;
  font-size: 1.6rem;
  color: var(--site-dark-color);
  margin-top: 3.8rem;
}

.tools-transition-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tools-transition-container > p {
  margin-top: 1.7rem;
  font-weight: 500;
  color: var(--site-dark-color);
}

.tools-p-style-fade {
  width: 180px;
} */

.audience-section {
  width: 100%;
  padding: 4vh 3vw;
  position: relative;
}

.audience-section__container {
  width: 80%;
}

.audience-section .audience-section-img {
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.audience-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.audience-text-container h2 {
  color: var(--site-dark-color);
  font-weight: 800;
  font-size: 3.2rem;
  text-align: left;
  margin: 0;
  padding: 0;
}

.audience-text-container p {
  color: var(--site-dark-color);
  font-weight: 600;
  text-align: left;
  margin-top: 1rem;
}

.audience-text-container .audience-cta__btn {
  background-color: var(--site-cta-color);
  color: var(--site-white-color);
  border: none;
  box-shadow: none;
  border-radius: 20px;
  padding: 17px 20px;
}

.cta-text__section {
  width: 100%;
  padding: 10vh 8vw;
  background-image: linear-gradient(
    to right bottom,
    #3f7bf5 0%,
    #3f7bf5 55%,
    #1ea9da
  );
  position: relative;
}

.cta-text__container {
  width: 80%;
}

.cta-text__section h2 {
  color: var(--site-white-color);
  font-weight: 800;
  margin-bottom: 1rem;
  font-size: 2.3rem;
}

.cta-text__section p {
  color: var(--site-white-color);
  font-weight: 300;
  margin-top: 1.4rem;
}

.cta-text__section .cta-text-btn__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.cta-text__section .cta-text__btn {
  background-color: var(--site-cta-color);
  color: var(--site-white-color);
  border: none;
  box-shadow: none;
  border-radius: 20px;
  padding: 17px 20px;
  text-align: center;
}

.faq-section {
  width: 100%;
  height: fit-content;
  padding-top: 5vh;
  padding-bottom: 3vh;
  background-color: #f9fafd;
}

.faq-section .header-1 {
  text-align: center;
  color: var(--site-dark-color);
  font-weight: 800;
}

.faq-section .header-1 span {
  display: block;
}

.faq-item {
  width: 100%;
  margin: 30px 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.faq-item .faq-item__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--site-white-color);
  color: var(--site-dark-color);
  cursor: pointer;
  font-weight: 600;
}

.faq-section .further-enquiries-header {
  font-size: 18px;
  color: var(--site-dark-color);
}

.faq-section .further-enquiries-header .newline-span {
  display: block;
}

.faq-section .further-enquiries-header .mail-info {
  color: var(--site-cta-color);
}

.footer {
  width: 100%;
  height: fit-content;
  background-color: var(--site-dark-color);
}

.footer .tuturly-basic__info {
  width: 80%;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .tuturly-logo-container {
  width: 150px;
}

.footer .tuturly-logo-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.footer .tuturly-footer-links {
  color: var(--site-white-color);
}

.footer .tuturly-footer-links a {
  color: var(--site-white-color);
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
}

.footer .tuturly-contact {
  width: 80%;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer .tuturly-contact a {
  color: var(--site-white-color);
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
}

.footer .copyright-text {
  color: var(--site-white-color);
  font-weight: 600;
}

@media (max-width: 993px) {
  .hero-text .sign-up-btn,
  .hero-text .sign-up-btn:hover,
  .hero-text .sign-up-btn:active {
    width: 100%;
  }

  .home-hero-section .btn-signup,
  .home-hero-section .btn-login {
    color: var(--site-theme-color) !important;
    background-color: transparent !important;
    border: none;
    box-shadow: none;
  }

  .home-hero-section .btn-signup:hover,
  .home-hero-section .btn-login:hover {
    color: var(--site-theme-color) !important;
    background-color: transparent !important;
    border: none;
    box-shadow: none;
  }

  .home-hero-section .btn-signup:active,
  .home-hero-section .btn-login:active {
    color: var(--site-theme-color) !important;
    background-color: transparent !important;
    border: none;
    box-shadow: none;
  }

  .home-hero-section .img-container {
    display: none;
  }

  .benefits-explainer-section img {
    margin-bottom: 0;
  }

  .why-tuturly-icon__container {
    margin-bottom: 20px;
  }

  .tools-explainer-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .tools-explainer-container {
    margin-top: 0.6rem;
    width: 100%;
  }

  .tools-explainer-item {
    width: 250px;
    margin-bottom: 10px;
  }

  .audience-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .audience-section .audience-section-img {
    margin: 0 auto;
    width: 400px;
  }

  .audience-text-container h2 {
    color: var(--site-dark-color);
    font-weight: 800;
    font-size: 1.9rem;
    margin-top: 3vh;
    padding: 0;
    text-align: center;
  }

  .audience-text-container p {
    color: var(--site-dark-color);
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
  }

  .audience-text-container .audience-cta__btn {
    margin-top: 1rem;
  }

  .cta-text__section h2 {
    color: var(--site-white-color);
    font-weight: 800;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  .footer .tuturly-basic__info {
    width: 80%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer .tuturly-contact {
    width: 80%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .home-hero-section .hero-btn-container {
    margin-bottom: 1rem;
  }

  .why-explainer-section h2 {
    font-size: 1.4rem;
  }

  .why-tuturly-plus-icon__col {
    display: none;
  }
}

@media (max-width: 850px) {
  .home-hero-section {
    height: fit-content;
  }

  .home-hero-section .img-container {
    display: none;
  }

  .home-hero-section .hero-btn-container {
    width: 100%;
  }

  .home-hero-section .hero-text {
    margin-top: 3vh;
  }

  .usage-item {
    border-radius: 0;
  }

  .home-hero-section .site-heading {
    color: #3d3c3c;
    font-weight: 900;
    font-size: 3rem;
    width: 100%;
  }

  .home-hero-section .site-paragraph {
    color: #3d3c3c;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
  }

  .tools-section h2 {
    font-size: 1.4rem;
  }

  .how-it-works h2 {
    font-size: 1.4rem;
  }

  .tools-illustration-image {
    display: none;
  }

  .audience-row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 650px) {
  .home-hero-section .site-paragraph {
    color: #3d3c3c;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .home-hero-section .img-container {
    display: none;
  }

  .home-hero-section .hero-btn-container {
    flex-direction: column;
    border: 0;
  }

  .home-hero-section .hero-btn-container .email-input {
    font-size: 0.875rem;
    width: 100%;
    outline-width: 0;
    background-color: var(--site-background-color);
    border: 0.00078rem solid var(--site-dark-color);
    border-radius: 18px;
    padding: 1rem 1.3rem;
    margin-bottom: 0.8rem;
  }

  .home-hero-section .hero-btn-container .sign-up-btn,
  .home-hero-section .hero-btn-container .sign-up-btn:hover,
  .home-hero-section .hero-btn-container .sign-up-btn:active {
    z-index: 1000;
    background-color: var(--site-cta-color) !important;
    color: var(--site-white-color) !important;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    padding: 1rem 10px;
  }

  .usage-item {
    border-radius: 0;
    width: 100%;
  }

  .home-hero-section .hero-text {
    margin-top: 3vh;
  }

  .partners-section .partners-section-row {
    justify-content: center;
  }

  .special-section-cta__container {
    align-items: center;
    height: fit-content;
  }

  .special-section-cta__container p {
    text-align: center;
  }

  .audience-section .audience-section-img {
    margin-left: 0;
    width: 100%;
  }

  .tuturly-tracking-row {
    flex-direction: column-reverse;
  }
  .tuturly-tracking-section__container p {
    text-align: center;
  }

  .custom-landing-page-section__container p {
    text-align: center;
  }

  .payments-section-row {
    flex-direction: column-reverse;
  }

  .payments-section__container p {
    text-align: center;
  }

  .notice-section-cta__container {
    align-items: center;
  }

  .notice-section-cta__container p {
    text-align: center;
  }

  .audience-text-container {
    margin-bottom: 1rem;
  }

  .testimonial-section__container h2 {
    font-size: 1.7rem;
  }

  .testimonial-navigator-item {
    display: none;
  }

  .faq-section .header-1 {
    font-size: 1.7rem;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 2000ms;
}
