.modal-close-btn__container {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 22px 15px;
}

.modal-btn-close {
  color: var(--site-dark-color);
  cursor: pointer;
}

.modal-content__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px;
  width: 90%;
  margin: 0.134rem auto;
}

.modal-content__container .logo-container {
  width: 180px;
}

.modal-content__container .title-text {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.payment-message {
  display: flex;
  margin: 14px auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.payment-message p {
  font-weight: 600;
  font-size: 14px;
  color: var(--site-dark-color);
  text-transform: capitalize;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  margin-right: 4px;
}

.payment-message img {
  width: 150px;
  height: 100px;
}
