.form-warning {
  color: var(--site-orange-color);
  font-size: 13px;
  margin-top: 2px;
}

.app-loader .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-text {
  color: var(--site-subtle-dark);
}

.modal-btn-style,
.modal-btn-style:hover,
.modal-btn-style:active {
  box-shadow: none;
  border: none;
  background-color: var(--site-cta-color) !important;
  color: var(--site-white-color) !important;
  transform: 0;
}

.modal-btn-style-outline,
.modal-btn-style-outline:hover,
.modal-btn-style-outline:active {
  box-shadow: none !important;
  background-color: transparent !important;
  color: var(--site-cta-color) !important;
  border: 1px solid var(--site-cta-color) !important;
  transform: 0;
}

.spinner-icon {
  font-size: 0.9rem;
  animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-player {
  height: 70vh !important;
}

.videojs-container {
  /* height: 65vh !important; */
  width: 100%;
}
