/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --site-background-color: #f9fAfd;
  --site-white-color: #ffffff;
  --site-cta-color: #FF3100;
  --site-theme-color: #476EFA;
  --site-dark-color: #000000;
  --site-text-color: #807D7D;
  --site-orange-color: rgb(255, 67, 34);
}

body {
  font-family: Lato, sans-serif !important;
  padding-right: 0;
}

.text-black {
  color: var(--site-dark-color);
}
