:root {
  --hero-theme-color: #272727;
  --hero-theme-green-color: #7bdb97;
}

/* .hero-section {
  width: 100%;
  height: 70vh;
  background-image: url(./images/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
} */


.course-list {
  background-color: var(--hero-theme-color);
  width: 100%;
  padding: 30px 10px;
}

.course-list-container {
  width: 90%;
}

.section-title {
  color: #fff;
  font-weight: 600;
}

.course-item-container {
  margin-top: 20px;
}

.course-item .course-item-previewer {
  width: 100%;
  height: 370px;
  border-radius: 10px;
  background-color: #c4c4c4;
  margin-bottom: 10px;
}

.course-item .landing-page-course-card {
  border: none;
  border-radius: 17px;
  margin-bottom: 17px;
  min-height: 360px;
  max-width: 300px;
  min-width: 200px;
  /* background-color: var(--hero-theme-color); */
}

.course-item .landing-page-course-card .card-img-top {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  max-height: 280px;
  min-height: 280px;
  overflow: hidden;
}

.course-item .landing-page-course-card .card-title {
  color: var(--site-subtle-dark);
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 14px;
}

.course-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 97%;
  min-width: 97%;
  height: 450px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.course-item-img {
  height: 250px;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.course-item-course-info {
  padding: 20px;
  height: 200px;
  background-color: #3f3f3f;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.course-item-title a {
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.course-item-author-info {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: lighter;
  font-size: 13px;
}

.course-item-level {
  border: 0.4px solid #fff;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: fit-content;
  color: #fff;
  text-transform: capitalize;
  font-size: 13px;
  margin-bottom: 1px;
}

.course-item-price-and-cart-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.course-item-price-and-cart-button .course-item-price {
  font-weight: 900;
  font-size: 35px;
  color: #fff;
  padding: 0 !important;
  margin: 0 !important;
}

.course-item-price-and-cart-button .add-to-cart {
  font-size: 19px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s;
  font-weight: 700;
}

.course-item-price-and-cart-button .add-to-cart:hover {
  transform: translateY(-5px);
}

.course-item-price-and-cart-button .go-to-cart {
  color: var(--alt-text-color);
  font-weight: 700;
  font-size: 13px;
  border: 1px solid var(--alt-text-color);
  padding: 5px 5px;
}

.course-list-hr {
  background-color: #fff;
}

.about {
  width: 100%;
  height: fit-content;
}

.about .col-sm-9,
.about .col-md-9 {
  padding: 0;
}

.about-container {
  width: 100%;
}

.about-author {
  background-color: #fff;
  padding-top: 30px;
  padding-left: 20px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.about-author-subtitle {
  text-transform: capitalize;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 45%;
  right: 10%;
}

.about-author-subtitle span {
  display: block;
  background-color: var(--hero-theme-green-color);
}

/* .about-img-container {
} */

.about-text {
  padding-top: 10vh;
  height: 100%;
  background-color: var(--hero-theme-green-color);
}

.about-text-content {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  color: #000;
}

.contact {
  background-color: var(--hero-theme-color);
  padding: 10vh 2vw;
}

.contact-header {
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.contact-paragraph {
  color: #fff;
  font-size: 1.4rem;
  margin: 0;
}

.contact-form-question {
  color: #fff;
}

.hero-contact-form-styles {
  border-radius: 0;
  background-color: #c4c4c4;
}

.hero-contact-form-styles::placeholder {
  color: #746e6e;
}

.hero-contact-form-button {
  border-radius: 25px;
  padding: 14px 28px;
  color: #fff;
  border: 1px solid #fff;
  background-color: var(--hero-theme-color);
}

.hero-footer {
  background-color: var(--hero-theme-color);
  margin: 0;
}

.hero-footer-text {
  color: #fff;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 100;
}

.hero-footer-hr {
  background-color: #fff;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .hero-section-button {
    margin: 7px;
    color: #000;
  }
  .hero-section-button:hover {
    color: #000;
  }
}
