.add-section-modal {
    background-color: var(--site-theme-color);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.add-section-modal h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 650;
    font-size: 17px;
}

.add-section-modal i {
    color: #ffffff;
    font-size: 17px;
}

.close-add-section__modal {
    cursor: pointer;
}

.col-custom__style 
.col-12, .col-sm-12, .col-md-6 {
    padding-left: 0;
    height: fit-content;
    padding-right: 0;
}

.color-scheme-instructions {
    color: #000000;
    font-size: 11px;
    font-weight: 700;
    margin-right: 3px;
}

.add-section__save-btn,
.add-section__save-btn:hover,
.add-section__save-btn:active
{
    background-color: var(--site-cta-color) !important;
    color: var(--site-white-color) !important;
}

.add-section-modal-title {
    color: #000000;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 13px;
}

.section-preview-container {
    width: 95%;
    margin: 10px auto;
}

.add-section-preview-item {
    height: 80%;
    width: 95%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-section-preview-item__image {
    width: 100%;
    height: 80%;
    cursor: pointer;
}

.add-section-preview-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-section-item__name {
    color: #000000;
    font-weight: 680;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 3px;
    padding: 0;
}

.selected-new-section {
    border: 6px solid var(--site-cta-color);
}

.add-section__controls {
    display: flex;
    flex-direction: column;
    width: 93%;
    padding: 5px 1px;
    justify-content: center;
    align-items: center;
}

.add-section__controls .modal-checkbox-toggle {
    display: flex;
}

.page-builder-modal-style {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

/* delete section Modal */

.delete-section-modal {
    background-color: var(--site-theme-color);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.delete-section-modal h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 750;
    font-size: 17px;
}

.delete-section-modal i {
    color: #ffffff;
    font-size: 17px;
    cursor: pointer; 
}

.confirmation-text {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}


.delete-confirmation-confirm,
.delete-confirmation-confirm:hover,
.delete-confirmation-confirm:active
{
    box-shadow: none;
    color: var(--site-white-color) !important;
    background-color: var(--site-cta-color) !important;
}

.delete-confimation-cancel,
.delete-confimation-cancel:hover,
.delete-confimation-cancel:active
{
    box-shadow: none;
    color: var(--site-cta-color) !important;
    background-color: var(--site-white-color) !important;
    border: 1px solid var(--site-cta-color);
}