.header-design {
    background-color: var(--site-theme-color);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header-design h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 750;
    font-size: 17px;
}

.header-design i {
    color: #ffffff;
    font-size: 17px;
}

.close-container {
    cursor: pointer;
}

.modal-footer .save-button,
.modal-footer .save-button:hover,
.modal-footer .save-button:active
{
    background-color: var(--site-cta-color);
    color: #ffffff;
}

.container-settings {
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 5px 14px;
    margin-bottom: 2vh;
}

.toggle-action-launcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
}

.toggle-action-launcher .toggle-action-text {
    font-size: 13.8px;
    color: #000000;
    font-weight: 560;
    text-transform: capitalize;
}

.toggle-action-launcher .toggle-action-icon {
    cursor: pointer;
}

.toggle-action-launcher .toggle-action-icon i {
    color: #000000;
}

.form-group__settings {
    margin: 10px 3px;
}

.compulsory-indicator {
    color: tomato;
    font-size: 16px;
}

.modal-checkbox-toggle .modal-switch {
    position: relative;
    display: inline-block;
    width: 111px;
    height: 24px;
 }
  
  /* Hide default HTML checkbox */
  .modal-checkbox-toggle .modal-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The modal-slider */
  .modal-checkbox-toggle .modal-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .modal-checkbox-toggle .modal-slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 1.85px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .modal-checkbox-toggle input:checked + .modal-slider {
    background-color: #2196F3;
  }
  
  .modal-checkbox-toggle input:focus + .modal-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .modal-checkbox-toggle input:checked + .modal-slider:before {
    -webkit-transform: translateX(86px);
    -ms-transform: translateX(86px);
    transform: translateX(86px);
  }
  
  /* Rounded modal-sliders */
  .modal-checkbox-toggle .modal-slider.modal-round {
    border-radius: 34px;
  }
  
  .modal-checkbox-toggle .modal-slider.modal-round:before {
    border-radius: 50%;
  }

.modal-slider-require-text:after
{
 content:'DEFAULT';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .modal-slider-require-text:after
{  
  content:'SECONDARY';
}
