.school-live-webinar {
  display: flex;
  flex-direction: column;
  padding: 0 1.5%;
}

.school-live-webinar-content {
  display: flex;
}
.school-live-webinar-content img {
  width: 30%;
}

.school-live-webinar-content-text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 3vh 7vw;
  /* justify-content: center; */
}

.school-live-webinar-content-text .button-wrapper {
  justify-content: flex-start;
}
/* .school-live-webinar-content-text .button-wrapper button {
  justify-content: flex-start;
  max-width: 30%;
  background-color: var(--site-cta-color)  ;
  color: var(--site-white-color)  ;
  border: none;
  border-radius: 22px;
} */

.school-live-webinar-content-count {
  display: none;
  align-items: center;
}
.school-live-webinar-content-count span {
  background-color: var(--site-white-color);
  color: #000;
  padding: 1% 2.5%;
  border-radius: 5px;
  margin-right: 5px;
}
.webinar-item {
  width: 350px;
  min-width: 350px;
  background: var(--site-theme-color);
  border-radius: 25px;
  overflow: hidden;
  color: #fff;
}
.webinar-item .course-item-name{
  color: #fff;
}
.school-webinar-list{
  padding: 15px 0;
}
