.tutor-course-page__contents {
  min-height: 100vh;
  height: fit-content;
}

.tutor-dashboard-video-player__container {
  width: 100%;
  margin: 0 auto;
}

.tutor-next-video-details__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  background-color: var(--site-white-color);
  color: var(--site-theme-color);
  padding: 5vh 10vh;
}

.spinner-div {
  color: var(--site-theme-color);
  background-color: var(--site-white-color);
}

.tutor-next-video__delay-indicator {
  color: var(--site-theme-color);
  background-color: var(--site-white-color);
}

.progress-bar-container {
  width: "50px";
  height: "50px";
  margin: "4px auto";
  background-color: var(--site-white-color);
}

.btn-cancel__Next-video-loader {
  background-color: "transparent";
  color: var(--site-theme-color);
  margin: "20px auto";
  border: 1px solid var(--site-theme-color);
  box-shadow: "none";
}

.tutor-student-dashboard-tabs-container {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1.5px solid #000000;
}

.tutor-student-dashboard-tabs-container .nav-pills .nav-link {
  box-shadow: none;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 0;
  color: #000000;
  background-color: var(--site-white-color);
}

.tutor-student-dashboard-tabs-container .nav-pills .nav-link:hover {
  box-shadow: none;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  background-color: var(--site-white-color);
}

.tutor-student-dashboard-tabs-container .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  box-shadow: none;
  font-weight: 600;
}

.tutor-attachment-counter,
.tutor-discussions-counter {
  font-size: 15px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--site-white-color);
  background-color: var(--site-dark-color);
}

.tutor-student-dashboard-page-footer {
  text-align: center;
  font-size: 13px;
  padding: 1.2rem 0;
  width: 100%;
  background-color: #f2f2f2 !important;
}

.tutor-student-dashboard__tabs-content {
  width: 80%;
  margin: 0 auto;
}

.tutor-student-dashboard__tabs-content .card {
  border: none;
  background-color: var(--site-black-color);
}

.tutor-course-modules__container {
  width: 100%;
}

.tutor-student-dashboard-page-footer {
  background-color: var(--site-white-color);
  color: var(--site-black-color);
}

/* module item display styles  */
.tutor-module-item-student-dashboard {
  width: 100%;
  margin: 10px 0;
  background-color: var(--site-white-color);
}

.tutor-module-item-student-dashboard-title {
  width: 100%;
  display: flex;
  color: var(--site-black-color);
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
}

.tutor-module-item-student-dashboard-title .title-header {
  font-weight: 650;
  font-size: 16px;
  color: var(--site-black-color);
}

.tutor-module-item-student-dashboard-title .title-expand-icon {
  color: var(--site-black-color);
  font-weight: 700;
  font-size: 20px;
}

.tutor-module-item-student-dashboard-item-content {
  width: 100%;
}

/* unit item styles here  */
.tutor-course-content__moduleunit-item {
  width: 100%;
  margin: 10px 0;
  display: flex;
  height: 130px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.56s all;
  background-color: var(--site-theme-color);
}

.active-unit {
  background-color: var(--site-white-color);
}

.active-unit .tutor-module-unit__secondary-info {
  color: var(--site-black-color);
}

.tutor__moduleunit-item__container {
  overflow: hidden;
  background-color: #fff;
  height: 100%;
  width: 170px;
  display: flex;
  align-items: center;
}

.tutor-course-content__moduleunit-item img {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tutor-module-unit__secondary-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  flex: 2;
  height: fit-content;
  padding: 10px;
  height: 100%;
  color: var(--site-white-color);
}

.tutor-module-unit__secondary-info .unit-name {
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tutor-module-unit__video-duration {
  display: flex;
  justify-content: flex-end;
}

.tutor-module-unit__video-duration p {
  font-size: 13px;
  font-weight: 700;
}

/* notes details saved here  */
.tutor-add-notes__btn,
.tutor-add-notes__btn:hover,
.tutor-add-notes__btn:active,
.tutor-save-note,
.tutor-save-note:hover,
.tutor-save-note:active {
  border-radius: 20px;
  border: none;
  box-shadow: none;
  font-weight: 600;
  background-color: var(--site-cta-color) !important;
  color: var(--site-white-color) !important;
}

.notes-item {
  width: 100%;
  display: flex;
}

.tutor-notes-item__timestamp {
  cursor: pointer;
  color: var(--site-dark-color);
}

.tutor-notes-item__content {
  flex: 1;
  padding: 10px 20px;
  margin-left: 1px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--site-background-color);
  color: var(--site-dark-color);
}

.tutor-notes-delete-btn {
  cursor: pointer;
  font-size: 13px;
  text-align: right;
  margin-top: 4px;
  color: var(--site-dark-color);
  font-size: 15px;
}

/* tutor attachment styles here  */
.tutor-attachment__item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 10px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.tutor-attachment__item-name {
  font-weight: 500;
  color: var(--site-black-color);
}

.tutor-attachment__item-download-btn {
  cursor: pointer;
  font-size: 17px;
  color: var(--site-black-color);
}

/* tutor comments container styles here  */
.tutor-discussion-container {
  margin-top: 10px;
}

.total-discussions {
  color: #fff;
}

.load-more-discussions,
.load-more-discussions:active,
.load-more-discussions:hover {
  cursor: pointer;
  border: none !important;
  /* color: var(--alt-text-color);
    background-color: transparent; */
}

.tutor-add-new-discussion__form {
  width: 100%;
}

/* tutor comments items styles here  */
.tutor-discussion-comment__item {
  display: flex;
  width: 100%;
}

.tutor-discussion-comment__item .tutor-item__avatar {
  height: 80px;
  width: 80px;
  overflow: hidden;
  margin-right: 1vw;
}

.tutor-discussion-details {
  flex: 2;
}

.tutor-discussion-name-and-timestamps {
  display: flex;
  margin-bottom: 2px;
}

.tutor-discussion-details .username-text {
  color: var(--site-black-color);
}

.tutor-discussion-details .timestamp-text {
  color: var(--site-black-color);
}

.tutor-discussion-details .comment-in-view__text {
  color: var(--site-white-color);
  background-color: var(--site-cta-color);
}

.tutor-discussion-text {
  color: var(--site-dark-color);
}

.tutor-discussion-text p {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 15px;
}

.tutor-discussion-controls {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-top: 4px;
  width: 100%;
}

.tutor-discussion-controls .tutor-discussion-reply__controls {
  display: flex;
}

.tutor-discussion-controls .tutor-reply-btn-and-counter {
  cursor: pointer;
  color: var(--site-dark-color);
}

.tutor-reply-btn-and-counter i {
  font-size: 15px;
}

.tutor-discussion-controls .tutor-view-reply {
  /* color: #6f6c6c; */
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--site-dark-color);
}

.tutor-discussion-controls .tutor-view-reply i {
  font-size: 8px;
}

.tutor-discussion-controls .tutor-discussion-comment-menu {
  color: #6f6c6c;
  cursor: pointer;
  position: relative;
  width: 10px;
}

.tutor-discussion-controls .tutor-discussion-comment-menu i {
  font-size: 15px;
}

.tutor-popover-body__styles {
  background-color: var(--site-cta-color);
  color: var(--site-white-color);
}

.tutor-comment-delete__menu-item {
  padding: 3px 10px;
  cursor: pointer;
}

/* discussion reply styles here  */
.tutor-discussion-reply-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 3vh;
}

.tutor-dashboard-reply-item {
  width: 95%;
  display: flex;
}

.tutor-dashboard-reply-user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.3vw;
}

.tutor-dashboard-reply-item__details {
  /* color: #569d6b; */
  margin: 0;
  padding: 0;
}

.tutor-dashboard-reply-name-and-timestamp {
  color: var(--site-black-color);
  margin: 0;
  padding: 0;
}

.tutor-timestamp {
  color: var(--site-black-color);
}

.tutor-comment-info__tag {
  background-color: var(--site-cta-color);
  color: var(--site-white-color);
}

.tutor-dashboard-reply-name-control .tutor-dashboard-reply-menu {
  color: #6f6c6c;
  cursor: pointer;
}

.tutor-dashboard-reply-text {
  width: 100%;
  color: var(--site-black-color);
}

.tutor-dashboard-reply-text p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 15px;
}

.tutor-dashboard-reply-name-and-timestamp span {
  color: #6f6c6c;
}

.tutor-dashboard-reply-item__details {
  flex: 2;
}

.tutor-dashboard-reply-name-control {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 400px) {
  .tutor-course-content__moduleunit-item {
    flex-direction: column;
    height: fit-content;
    margin-bottom: 1rem;
  }

  .tutor__moduleunit-item__container {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
}
