.navbar-wrapper {
  display: flex;
  justify-content: center;
  padding: 11.5px 0;
  width: 100%;
  /* flex-direction: column; */
}
.tutorly-course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  padding: 5% 10%;
  /* background-color: #fff; */
  box-sizing: border-box;
  /* background: url("../../../images/tutorly-courses-header-bg.svg"); */
  background: #fff;
  background-size: cover;
  background-position: center center;

  position: relative;
}
/*  */
.text-container {
  max-width: 65%;
  position: relative;
}
.text-container a {
  background-color: #ff3100;
  border: #ff3100;
  color: #fff;
}

.heading {
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
  font-size: 2.5rem;
  /* z-index: 2; lower z-index value */
  /* position: relative; */
}
.header-features {
  font-size: 18px;
  margin-bottom: 20px;
  /* color: #ffffff; */
}

.tuturly-benefits {
  padding: 5% 7.5%;
  flex-wrap: wrap;
  background-color: var(--site-background-color);
  color: #000;
}
.tuturly-benefits h3 {
  color: #000;
}
.tuturly-benefits h4 {
  color: #000;
}
.tuturly-benefits .benefit-wrapper {
  display: flex;
  justify-content: space-between;
}
.benefit-card {
  height: 450px;
  border-radius: 30px;
  overflow: hidden;
  width: 28%;

  background-color: var(--site-white-color);
}
.benefit-img {
  height: 55%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.b-one {
  background-image: url("../../../images/b-one.jpg");
}
.b-two {
  background-image: url("../../../images/b-two.jpg");
}
.b-three {
  background-image: url("../../../images/b-three.jpg");
}
.benefit-content {
  padding: 5% 7.5%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tutorly-categories {
  display: flex;
  flex-direction: column;
  padding: 2.5% 7.5%;
}
.tutorly-categories h3 {
  text-align: left;
  color: #000;
  padding-bottom: 3%;
}
.categories-row-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.categories-row {
  display: flex;
  flex-direction: column;
}

.categories-row span {
  margin-bottom: 3.5%;
  margin-top: 3.5%;
  font-size: 18px;
  color: #000;
}
.tutorly-product-list {
  padding: 2.5% 10%;
}
.tutorly-product-list h4 {
  margin-bottom: 3.5%;
}
.tutorly-products .explore-course__item-details__container {
  background-color: var(--site-theme-color);
}
/* .courses-carousel-item .tuturly-course-item{ margin-right:10%;} */
.tutorly-products .author-course-item-title {
  display: flex;
  position: relative;
}
.tutorly-products .author-course-item-title a {
  color: var(--site-white-color);
}
.tutorly-products .author-course-item-title .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  position: absolute;
  z-index: 1;

  align-items: flex-end;
}
.tutorly-products .author-course-item-title .container :hover {
  cursor: pointer;
}
.tutorly-products .author-course-item-title .container .dots {
  width: 10px;
  height: 10px;
  background-color: var(--site-white-color);
  border-radius: 50%;
}
.tutorly-products .author-course-item-course-info p {
  color: var(--site-white-color);
}
.tutorly-products .explore-course__item {
  background-color: var(--site-theme-color);
}
.tuturly-course-item-content {
  background-color: var(--site-theme-color);
  padding: 20px;
  /* height: 150px; */
}
.tuturly-course-item-content p {
  color: var(--site-white-color);
  margin-bottom: 0.5rem;
}
.tuturly-course-item-content .tuturly-course-level {
  border-radius: 10px;
  border: 1px solid var(--site-white-color);
  width: fit-content;
  padding: 2px 5px;
}
.tuturly-product-item__info {
  padding: 20px 20px 10px 20px;
  background-color: #fff;
  background-color: #fbc504;
}
.tutorly-cta {
  padding: 5% 15%;
  display: flex;
  color: #000;
}
.tutorly-cta .text-content {
  width: 55%;
  padding: 0 5%;
}

.tutorly-cta .text-content h4 {
  font-size: 36px;
  font-weight: 600;
  color: #000;
}
.tutorly-cta .text-content ul li {
  margin-top: 15%;
  font-size: 22px;
}
.tutorly-students {
  display: flex;
  padding: 5% 15%;
  justify-content: space-between;
}
.tutorly-students-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;

}
.tutorly-students-card-img {
  background-image: url("../../../images/tuturly-student-two.jpg");
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10%;
}
.tutorly-students-card .one {
  background-image: url("../../../images/tuturly-student-one.jpg");
}
/* .tutorly-benefits {
  background: url("../../../images/tutorly-courses-benefit-bg.png");
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff7373;
  font-size: 22px;
}
.tutorly-benefits h3 {
  font-size: 42px;
  font-weight: 700;
  color: #ff7373;
  margin-bottom: 2.5%;
}
.tutorly-benefits p {
  font-size: 22px;
}
.tutorly-contact-us {
  background: #fff;
  color: #000;
  padding: 2.5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tutorly-contact-us h3 {
  color: #000;
  margin-bottom: 1%;
  font-size: 42px;
}
.tutorly-contact-us p {
  font-size: 18px;
  text-align: center;
}
.tutorly-contact-us .logo-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 2.5% 0;
}
.tutorly-contact-us .logo-wrapper img {
  width: 1.5rem;
} */

.slick-prev {
  right: 25% !important;
  /* z-index: 5; */
  /* background: yellow; */
}
.slick-prev :hover {
  /* background: yellow; */
}
.slick-next {
  left: 95% !important;
  /* background-color: ; */
  font-size: 45px;
  /* z-index: 1; */
}

/* media queries */
@media screen and (max-width: 480px) {
  .text-container {
    max-width: 100%;
  }

  .tutorly-categories .categories-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: CENTER;
    text-align: center;
  }
  .tutorly-categories .second span:last-child {
    grid-column-end: span 2;
    justify-self: center;
  }
  .tutorly-cta {
    padding: 5% 10%;
    flex-direction: column;
  }
  .tutorly-cta .text-content {
    width: 100%;
    padding: 0;
  }
  .tutorly-cta .text-content img {
    width: 100%;
    /* padding: 0 10%; */
  }
  .tutorly-cta .text-content ul {
    padding: 0 10%;
  }
  .tutorly-benefits {
    text-align: center;
  }
  .benefit-card {
    width: 100%;
    margin-bottom: 10%;
  }
  .tuturly-benefits .benefit-wrapper {
    display: block;
  }
}
