.admin-editors__navbar-theme-preview {
    width: 100%;
    height: 55px;
    background-color: var(--site-dark-color);
    color: #fff;    
    display: block;
}

.admin-editors__navbar-theme-preview .navbar {
  padding: 0 !important;
}

.panel-control-contents-theme__preview {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-to-theme__select-button-theme-preview {
  background-color: transparent !important;
  color: var(--site-white-color) !important;
  border: none;
  box-shadow: 0;
}

.choose-theme__btn,
.choose-theme__btn:hover,
.choose-theme__btn:active
{
  background-color: transparent !important;
  color: #ffffff !important;
  border: 1px solid #ffffff;
}