.school-dafault-navbar {
  margin-top: 55px;
}

.school-dafault-navbar .toggler-style {
    color: #fff;
  }
  
  /* .page-wrapper {
    position: relative;
    height: fit-content;
    width: 100%;
  } */
  
  @media screen and (max-width: 992px) {
      .school-navbar-btn {
          margin: 7px;
      }
  }