.page-wrapper {
    width: 100%;
    background-color: var(--site-background-color);
    height: 100vh;
}

.card-style {
    padding: 20px;
    margin-top: 2vh;
    border-radius: 20px;
}

.card-style .form-group {
    margin-bottom: 3.3vh;
}

.page-heading {
    color: var(--site-text-color);
    margin-bottom: 3vh;
    font-weight: 580;
}

.signup-cta {
    font-size: 13px;
    color: var(--site-text-color);
}

.signup-cta a{
    color: var(--site-cta-color);
}

.change-password_cta {
    transition: all .3s;
}

.change-password_cta:hover {
    transform: translateY(-4px);
}

.change-password_cta a {
    color: var(--site-cta-color);
    font-weight: 400;
    font-size: 13.5px;
}

.passord-reset-link-sent__instructions h5 {
    font-weight: 500;
    color: var(--site-dark-color);
}

.passord-reset-link-sent__instructions p {
    font-weight: 500;
    padding: 0;
}

@media screen and (min-width: 992px) {
    .card-style {
        padding: 20px;
        width: 400px;
    }
}