.studentenroll-page-contents {
  width: 100%;
  height: 96vh;
  min-height: fit-content;
}

.student-enroll__container {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.student-enroll__card {
  text-align: center;
  margin-top: 8vh;
}

.student-enroll__card h1 {
  font-weight: 600;
  margin-bottom: 28px;
}

.student-enroll__card .input-group {
  margin-top: 25px;
  margin-bottom: 25px;
}

.student-enroll__card .student-enrollment-input {
  background-color: #323232;
  border: none;
  color: #fff;
}

.erollment-terms-condition-text {
  color: #fff;
}

.enrollment-form-warning {
  color: #e45959;
  font-size: 11px;
}

.student_enroll-terms-condition-highlight {
  color: #c69d0d;
  margin-left: 3px;
}

.student-enroll__card .student-enrollment__btn,
.student-enroll__card .student-enrollment__btn:active,
.student-enroll__card .student-enrollment__btn:hover {
  text-align: center;
  border-radius: 30px;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  box-shadow: none;
  border: none;
}

.form-btn__input-group {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.signup_cta {
  font-size: 14px;
}

.signup_cta a {
  color: #e45959;
}

.studentenrollment-page-footer {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 7px;
}

.studentenrollment-page-footer p {
  font-size: 14px;
}
