.product-item-basic-info {
  padding: 40px 10px;
  /* min-height: 80vh; */
}

.product-item-details {
  padding: 3vh 2vw 1vh 2vw;
  border-radius: 2.4px;
  width: 97%;
}

.product-item-details .row {
  margin-left: 0;
}

.product-item-details .col-12,
.col-sm-12,
.col-md-6 {
  padding-left: 0;
  padding-right: 0;
}

.product-item-details-img-contain {
  width: 90%;
  margin-bottom: 10px;
  overflow: hidden;
}

.product-item-details-img-contain img {
  width: 100%;
  border-radius: 5px;
}

.product-item-details .product-item-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 75%;
}

.product-item-details .product-item-about h3 {
  width: 100%;
  font-size: 22px;
  font-weight: 800;
  text-transform: capitalize;
}

.product-item-details .product-item-about .file-type__info {
  font-weight: 500;
  font-size: 12px;
}

.product-item-details .product-item-about .file-type__info span {
  text-transform: uppercase;
}

.product-item-details .product-item-about .product-category {
  margin: 17px 0;
  border-radius: 10px;
  padding: 3px 7px;
  width: fit-content;
  font-size: 13px;
  text-transform: capitalize;
}

.product-item-details-text {
  width: 100%;
}

.product-item-cart-info {
  padding: 2vh 1vw;
  border-radius: 2.4px;
  width: 97%;
}

.product-item-cart-info h3 {
  font-size: 21px;
  font-weight: 800;
  text-transform: capitalize;
}

.product-item-cart-info .col-12,
.col-sm-12,
.col-md-6 {
  padding-left: 0;
  padding-right: 0;
}

.cart-info-cart-item__container {
  width: 100%;
  height: 200px;
  overflow: auto;
}

.cart-info-cart-item {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

.cart-info-cart-item p {
  font-weight: 500;
  font-size: 16px;
}

.item-img__container {
  height: 100%;
  width: 120px;
  margin-right: 5px;
}

.item-img__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.add-to-cart-cta {
  padding: 3px;
  width: 100%;
  position: sticky;
  font-size: 19px;
  bottom: 0;
}

.product-name-and-price {
  width: 95%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-name {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.product-price-and-rating {
  display: flex;
  justify-content: space-between;
}

.product-price-and-rating .product-price {
  font-size: 29px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.add-to-cart-cta .action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.action-btn {
  width: 100%;
  border-radius: 0;
  box-shadow: none;
}

.footer {
  padding: 4px 10px;
}

.footer .copy {
  border-top: 1.5px solid #fff;
}
