.public-page-navbar-style {
  background-color: var(--site-white-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar-dark {
  padding: 0.7rem 0.7rem !important;
}

.public-page-navbar-style .public-page-navbar-style__container {
  width: 85%;
}

.navbar-dark .navbar-brand {
  color: var(--site-dark-color);
}

.public-page-navbar-style .navbar-brand img {
  height: 45px;
  width: 160px;
}

.toggler-style {
  color: var(--site-dark-color);
}

.btn-navbar-links,
.btn-navbar-links:hover,
.btn-navbar-links:active {
  color: var(--site-dark-color);
  background-color: var(--site-white-color);
  border: none;
  box-shadow: none !important;
  font-size: 13px;
}

.btn-getstarted-cta,
.btn-getstarted-cta:hover,
.btn-getstarted-cta:active {
  color: var(--site-white-color);
  background-color: var(--site-cta-color);
  border: none;
  border-radius: 25px;
  box-shadow: none;
  padding: 13px 13px;
  font-size: 12px;
}

@media screen and (max-width: 992px) {
  .public-page-navbar-style .public-page-navbar-style__container {
    width: 100%;
  }

  .navbar-dark .navbar-brand img {
    height: 45px;
    width: 110px;
  }

  .btn-getstarted-cta,
  .btn-getstarted-cta:hover,
  .btn-getstarted-cta:active {
    margin-top: 5px;
  }

  .btn-navbar-links,
  .btn-navbar-links:hover,
  .btn-navbar-links:active {
    margin-bottom: 6px;
  }
}
