.public-navbar-style {
  background-color: var(--site-white-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar-dark {
  padding: 0.7rem 0.7rem !important;
}

.public-navbar-style .public-navbar-style__container {
  width: 85%;
}

.navbar-dark .navbar-brand {
  color: var(--site-dark-color);
}

.public-navbar-style .navbar-brand img {
  height: 45px;
  width: 160px;
}

.navbar-dark .navbar-brand:hover {
  color: var(--site-dark-color);
}

.navbar-dark .navbar-brand:active {
  color: var(--site-dark-color);
}

.collapse-brand a {
  color: var(--site-dark-color);
}

.toggler-style {
  color: var(--site-dark-color);
}

.btn-login,
.btn-login:hover,
.btn-login:active {
  color: var(--site-dark-color);
  background-color: var(--site-white-color);
  border: 1px solid var(--site-dark-color);
  font-size: 13.5px;
  box-shadow: none !important;
}

.btn-signup,
.btn-signup:hover,
.btn-signup:active {
  color: var(--site-white-color);
  background-color: var(--site-cta-color);
  border: none;
  font-size: 11px;
  box-shadow: none !important;
}

@media screen and (max-width: 992px) {
  .public-navbar-style .public-navbar-style__container {
    width: 100%;
  }

  .navbar-dark .navbar-brand img {
    height: 45px;
    width: 110px;
  }

  .btn-signup,
  .btn-signup:hover,
  .btn-signup:active {
    margin-top: 5px;
  }

  .btn-login,
  .btn-login:hover,
  .btn-login:active {
    margin-bottom: 5px;
  }
}
