.image-text {
    width: 100%;
    height: 53vh;
    position: relative;
}

.image-text__container--regular-section-standard {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.image-text__container--regular-section-alternate {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.image-container-standard {
    height: 100%;
    width: 480px;
    /* max-width: 480px;
    min-width: 480px; */
}

.image-container-alternate {
    height: 100%;
    width: 480px;
    /* max-width: 480px;
    min-width: 480px; */
}

.image-container-standard img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.image-container-alternate img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.text-container-standard {
    padding: 3vh 7vw;
    width: 70%;
}

.text-container-alternate {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 7vw;
    width: 70%;
}

.text-container-standard h3 {
    font-weight: 600;
}

.text-container-alternate h3 {
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .image-text{
        height: fit-content;
    }

    .image-text__container--regular-section-standard {
        flex-direction: column;
    }

    .image-text__container--regular-section-alternate {
        flex-direction: column;
    }   

    .image-container-standard {
        width: 100%;
    }

    .image-container-standard img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .image-container-alternate {
        width: 100%;
    }

    .image-container-alternate img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width : 946px) {
    .text-container-standard h3 {
        font-size: 25px;
    }

    .text-container-standard p {
        font-size: 13px;
    }

    .text-container-alternate h3 {
        font-size: 25px;
    }

    .text-container-alternate p {
        font-size: 13px;
    }
}