.text-checklist-section {
    position: relative;
    padding: 15vh 3vw;
    width: 100%;
}

.icon-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-item {
    display: flex;
    width: 60%;
}

.modal-checklist-container {
    width: 100%;
}

.modal-checklist-item {
    display: flex;
    padding: 4px 6px;
    justify-content: space-between;
    align-items: center;
}

.modal-list-item-text {
    font-size: 12.3px;
    font-weight: 500;
}

.modal-list-item-delete {
    cursor: pointer;
}

.modal-list-item-delete i {
   font-size: 13px;
}