.billing-info-contents-container {
    margin-top: 4vh;    
}

.billing-info-card {
    border: none;
    background-color: var(--site-background-color);
    width: 100%;
    padding: 10px 7px;
}

.billing-info-contents 
.billing-info-heading  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px;
    border-bottom: 1px solid var(--site-dark-color);
}

.billing-info-contents h4 {
    font-weight: 500;
    font-size: 20px;
    color: var(--site-dark-color);
}

.billing-info-contents .back-to-dashboard-btn,
.billing-info-contents .back-to-dashboard-btn:hover,
.billing-info-contents .back-to-dashboard-btn:active
{
    box-shadow: none;
    border: none;
    background-color: var(--site-cta-color) !important;
    color: var(--site-white-color) !important;
}

.billing-info-contents 
.billing-info-body  {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.billing-info-contents 
.info-header-paragraph {
    font-weight: 700;
    color: var(--site-dark-color);
}

.billing-info-contents 
.update-card-btn {
    box-shadow: none;
    border: none;
    background-color: var(--site-cta-color) !important;
    color: var(--site-white-color) !important;
    width: 40%;
}