.webinar-type-options {
  padding: 5% 10%;
  align-items: center;
}
.webinar-type-options .page-title__text {
  padding: 2.5% 0%;
}
.interactive-buttons {
  display: flex;
  justify-content: space-between;
  padding: 2.5% 5%;
  /* padding: 5% 0%; */
}
.interactive-buttons div {
  width: 45%;
  border-radius: 47.03px;
  background: #fff;
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 7.5% 10%;
  border: 5px solid #fff;
}
.interactive-buttons :hover {
  cursor: pointer;
}
.interactive-buttons div img {
  width: 35%;
}
.webinar-type-options .button-wrapper {
  padding: 5% 0%;
}
.webinar-type-options .button-wrapper button {
  padding: 1.1rem 4rem;
}
.instant-webinar-options {
  padding: 3rem 4rem;
}
.resource-content {
  overflow: scroll;
  max-height: 50vh;
  margin: 1rem 0rem;
}
.resource-content ::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
  background-color: #f5f5f5; /* Set the background color of the scrollbar */
  
}
.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #000000; /* Set the color of the thumb */
}
.instant-webinar-options .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interactive-buttons .selected {
  border: 5px solid var(--site-theme-color);
}
.single-resource-card {
  display: flex;
  border-radius: 26.486px;
  border: 1.605px solid #746e6e;
  background: rgba(217, 217, 217, 0);
  padding: 2.5% 5%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.single-resource-card:hover {
  cursor: pointer;
}
.single-resource-card .page-title__text {
  margin-bottom: 1rem;
}
.single-resource-card .page-title__text:hover {
  text-decoration: underline;
}
.single-resource-card p {
  margin: 0;
}
.resource-bottom {
  display: flex;
  flex-direction: column;
}
.resource-bottom div {
  display: flex;
  justify-content: space-between;
  padding-top: 25%;
}
.resource-bottom p {
  font-size: 0.75rem;
  align-self: flex-end;
}
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}
