.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px 17px;
    border-top: 2.4px solid var(--site-theme-color);
    background-color: var(--site-white-color);
    border-radius: 2px;
    width: 100%;
}

.page-title__text {
  font-weight: 600;
  font-size: 22px;
  color: var(--site-dark-color);
}

.page-title__cta, 
.page-title__cta:hover,
.page-title__cta:active {
  background-color: var(--site-cta-color) !important;
  color: var(--site-white-color) !important;
  border: none;
  border-radius: 22px;
}


.dashboard-course-item-details {
  display: flex;
  padding: 25px 17px;
  border-top: 2.4px solid var(--site-theme-color);
  background-color: var(--site-white-color);
  border-radius: 2px;
  width: 100%;
}

.dashboard-course-item-details-img-contain {
  border-radius: 5px;
  margin-right: 1vw;
  width: 300px;
  height: 250px;
  position: relative;
  /* flex: 0.7; */
}

.dashboard-course-thumbnail-update {
  background-color: rgba(0, 0, 0, 0.56);
  transition: all 1s;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  color: var(--site-white-color);
}

.dashboard-course-item-details-img-contain:hover
.dashboard-course-thumbnail-update {
  display: flex;
}

.dashboard-course-thumbnail-update 
.update-course-thumbnail__btn {
  text-align: center;
  font-size: 14.5px;
  font-weight: 800;
}

.dashboard-course-thumbnail-update 
.update-course-thumbnail__btn i {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}

.dashboard-course-item-details-img-contain img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.dashboard-course-item-about {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.course-details__container {
  width: 100%;
}

.dashboard-course-item-about h3 {
  color: var(--alt-text-color);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 770;
  max-width: 100%;
  color: #585656;
  margin-top: 5px;
}

.dashboard-course-item__update-status {
    font-size: 13px !important;
    color: var(--site-cta-color) !important;
    border: 1.3px solid var(--site-cta-color);
    padding: 2px 4.5px !important;
    width: fit-content;
    border-radius: 8px;
    font-weight: 400 !important;
}

.dashboard-course-item-about 
.publisher-details {
  font-size: 14px;
  font-weight: 500;
}

.dashboard-course-item-about p {
  color: #909090;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

.ratings span {
  color: #919191;
  font-size: 20px;
  text-align: center;
}

.course-item-price {
  color: #3D3C3C;
  font-weight: 600;
  font-size: 3rem;
}

.course-actions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.course-actions__btn {
  display: flex;
  margin-top: 1rem;
}

.publish-course-actions-btn,
.publish-course-actions-btn:hover,
.publish-course-actions-btn:active {
  background-color: var(--site-cta-color) !important;
  color: var(--site-white-color) !important;
  border: none;
  font-size: 11px !important;
  width: 100%;
}

.update-course-btn,
.update-course-btn:hover,
.update-course-btn:active
{
  color: var(--site-cta-color) !important;
  background-color: transparent !important;
  border: 1px solid var(--site-cta-color);
  box-shadow: none !important;
  font-size: 11px !important;
  width: 100%;
}

.update-course-btn__modify,
.update-course-btn__modify:hover,
.update-course-btn__modify:active
{
  box-shadow: none;
  color: var(--site-cta-color) !important;
  background-color: transparent !important;
  border: 1px solid var(--site-cta-color);
  width: 100%;
  box-shadow: none !important;
  font-size: 11px !important;
}

.update-course-card .card {
  border: 0;
}

.update-course-card .form-group {
  position: relative;
  margin-bottom: 3.8vh;
}

.update-course-card .form__input {
  border-radius: 3px;
  font-size: 16px;
  transition: all 0.3s;
  width: 100%;
  display: block;
  border: 0.5px solid #cad1d7;
  padding: 12px 22px;
  color: var(--alt-text-color);
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
}

.update-course-card .form__input::-webkit-input-placeholder {
  color: #cad1d7;
}

.update-course-card .form__label {
  color: #cad1d7;
  margin-left: 20px;
  display: block;
  position: absolute;
  transition: all 0.3s;
  background-color: var(--site-white-color);
  top: 0;
  margin-top: -9px !important;
  padding-left: 5px;
  padding-right: 5px;
}

.update-course-card .form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(3px);
}

.update-course-card .create-course-btn {
  color: var(--site-subtle-dark);
  background-color: var(--site-white-color);
  border: 0.5px solid var(--site-subtle-dark);
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.post-to-explore-modal__header h4 {
  font-size: 15px;
  color: var(--site-dark-color);
  font-weight: 500;
  text-transform: capitalize;
}

.post-to-explore-modal__header div {
  cursor: pointer;
}

.post-to-explore-modal__header i {
  color: var(--site-dark-color);
}

.modal-body__confirmation-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1.8rem;
}

.modal-body__confirmation-container p {
  font-size: 14px;
  color: var(--site-dark-color);
}

.modal-body__confirmation-container input {
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .dashboard-course-item-details {
    flex-direction: column;
  }

  .dashboard-course-item-about {
    flex-direction: column;
  }

}

@media screen and (max-width: 400px) {
  .publish-course-actions-btn,
  .update-course-btn,
  .update-course-btn__modify {
    font-size: 10px !important;
  }

  .publish-course-actions-btn,
  .update-course-btn,
  .update-course-btn__modify button {
    width: 100%;
  }
}
