.page-actions__create-course-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-action__info {
  color: var(--alt-text-color);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 30px;
}

.create-course-card {
  width: 75%;
  padding: 30px;
}

.create-course-card .form-group {
  position: relative;
  margin-bottom: 3.8vh;
}

.create-course-validation-text {
  color: var(--site-orange-color);
  font-size: 14px;
}

.create-course-card .form__input {
  border-radius: 3px;
  font-size: 13.7px;
  transition: all 0.3s;
  width: 100%;
  display: block;
  border: 0.5px solid #cad1d7;
  padding: 10px 19px;
  color: var(--alt-text-color);
}

.create-course-card .form__input::-webkit-input-placeholder {
  color: #cad1d7;
}

.upload-image-contents {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-image-container {
  height: 200px;
  width: 200px;
}

.upload-image-container img {
  height: 100%;
  width: 100%;
}

.btn-updates,
.btn-updates:hover,
.btn-updates:active {
  background-color: #000 !important;
  color: var(--site-white-color) !important;
  box-shadow: none;
}

/* .create-course-modal .modal-header {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 25px;
  color: var(--site-dark-color);
} */

/* .picked-file-container {

} */

.create-course-card .form__label {
  color: #cad1d7;
  margin-left: 20px;
  display: block;
  position: absolute;
  transition: all 0.3s;
  background-color: var(--site-white-color);
  top: 0;
  margin-top: -9px !important;
  padding-left: 5px;
  padding-right: 5px;
}

.create-course-card .form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(3px);
}

.create-course-card .create-course-btn,
.create-course-card .create-course-btn:hover,
.create-course-card .create-course-btn:active {
  color: var(--site-white-color) !important;
  background-color: var(--site-cta-color) !important;
  border: 0.5px solid var(--site-subtle-dark);
}

@media screen and (max-width: 840px) {
  .create-course-card {
    padding: 10px;
  }
}
