/* .dashboard-index-page {
} */

.index-page-content-container {
  width: 90%;
  margin: 4.5vh auto;
  height: fit-content;
  background-color: var(--site-white-color);
  border-top: 10px solid var(--site-theme-color);
  padding: 35px 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dashboard-page__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-page__url {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.dashboard-page__url .school-url {
  color: #ff3100;
}

.dashboard-page__url .copy-button {
  color: #3d3c3c;
}

.dashboard-page__url .copy-button i {
  font-size: larger;
}

.dashboard-page__header .tutorname {
  color: var(--site-dark-color);
  font-weight: 700;
  font-size: 3rem;
  text-transform: capitalize;
}

.analytics-section {
  margin-top: 2vh;
  width: 100%;
}

.analytics-container {
  width: 100%;
  padding: 3.5vh 2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.analytics-container .row {
  width: 95%;
}

.analytics-item {
  width: 100%;
  height: fit-content;
  border-radius: 16px;
  text-align: center;
  padding-top: 18px;
  padding-left: 13px;
  padding-right: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--site-background-color);
  margin: 1.5vh 4px;
}

.analytics-item .analytics-info {
  color: var(--site-dark-color);
  font-weight: 580;
}

.analytics-item .analytics-counter {
  color: var(--site-dark-color);
  font-weight: 800;
  font-size: 25px;
  text-transform: capitalize;
}

.paymeny-history__section {
  margin-top: 10vh;
  width: 100%;
}

.paymeny-history__section h4 {
  color: var(--site-dark-color);
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 10px;
}

.paymeny-history__table thead th {
  border: none;
  color: var(--site-dark-color);
  background-color: var(--site-white-color);
}

.paymeny-history__table tr {
  border-bottom: 0.0625rem solid #c4c4c4;
  color: #3d3c3c;
  font-size: 12.4px;
  white-space: nowrap;
}

.paymeny-history__table tr td {
  border: none;
}

.dashborad-statistics-loader {
  margin: 0 auto;
  border-radius: 13px;
  padding: 5.6vh 2.3vw;
}

.dashborad-statistics-loader-item {
  width: 100%;
  height: 140px;
  border-radius: 9px;
}

.dashboard-graph-loader {
  height: 250px;
  width: 90%;
}

.payment-history-loader {
  margin: 0 auto;
  border-radius: 13px;
  padding: 5.6vh 2.3vw;
}

.payment-history-loader-header {
  height: 50px;
  width: 100%;
  margin-bottom: 25px;
}

.payment-history-loader-item {
  width: 100%;
  height: 25px;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .dashboard-page__header .tutorname {
    font-size: 1.3rem;
  }

  .dashboard-page__url {
    flex-direction: column;
    align-items: flex-start;
  }

  .paymeny-history__table tr td {
    font-size: 13px;
  }

  .analytics-item .analytics-info {
    font-size: 15px;
  }

  .analytics-item .analytics-counter {
    font-size: 17px;
  }
}
