.modal-content {
  border: 0;
  border-radius: 2rem;
}
.modal-button {
  background-color: var(--site-cta-color) !important;
  color: var(--site-white-color) !important;
  border: none;
  border-radius: 22px;
}
.live-webinar {
  padding-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--site-background-color);
  min-height: 100%;
  height: fit-content;
}

.live-webinar-content {
  width: 87%;
}
.live-webinar .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.live-webinar .card-title span {
  color: var(--site-theme-color);
}
/* webinar-time-prompt */

.webinar-time-prompt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 7.5%;
  border: 2px solid #c2c2c2;
  background: transparent;
  margin-bottom: 5%;
}
.webinar-time-prompt p {
  margin: 0;
}
.webinar-container {
  padding: 3rem 4rem;
}
.webinar-container img {
  width: auto;
}
.webinar-container .form-image {
  width: auto;
}
.webinarform strong {
  color: #000;
}
.webinar-container .card-content .table-heading {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 2fr;
  grid-gap: 1rem;
  padding: 0.8rem 2.5%;
  padding-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: var(--site-theme-color);
  color: var(--site-white-color);
  align-items: center;
  width: 100%;
  border: 1px solid var(--site-theme-color);
}

.table-heading p {
  font-size: 1rem;
  font-weight: 400;
}
.table-body-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5% 0;
}

.webinar-container .card-content {
  display: flex;
  flex-direction: column;
}

.webinar-container .card-content .table-body {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 2fr;

  width: 100%;
  grid-gap: 1rem;

  color: #000;
  font-weight: 400;
  border: 1px solid #cecece;
  border-top: 0;
  border-bottom: 0;

  /* justify-content: space-between; */
  padding: 0.8rem 2.5%;
  padding-bottom: 0;
}
.webinar-container .card-content .table-body .actions {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.webinar-container .card-content .table-body .actions p {
  cursor: pointer;
}
.webinar-container .card-content hr {
  border: 0.5px solid #cecece;
  background-color: #cecece;
  width: 95%;

  display: block;
  align-self: center;
  margin: 0;
}

.webinar-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  padding-top: 4rem;
}
.webinar-button-wrapper button {
  background-color: var(--site-cta-color) !important;
  color: var(--site-white-color) !important;
  border: none;
  border-radius: 22px;
}
.view-more-hover:hover {
  cursor: pointer;
}
.page-title_cta-btn a {
  color: inherit;
}

/* create webinar styles */
.webinar-container .upload-image-container {
  width: auto;
  padding: 0 5px;
}
.time-constraints {
  padding-top: 1rem;
  color: #000;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.time-constraints p {
  font-weight: normal;
  width: 100%;
}
.time-constraints input {
  width: 1.2rem;
  height: 1.2rem;
}
.time-constraints span {
  padding-left: 0.5rem;
  font-weight: bold;
}
.date-wrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  align-items: center;
  flex-direction: row-reverse;
}
.date-wrapper input {
  width: 60%;
  padding: 5px;
  padding-left: 2.5%;
  /* min-width: 70px; */
}
.date-wrapper select::placeholder {
  color: #525f7f;
}
.date-wrapper select {
  width: 15%;
  padding-left: 2.5%;
  color: #525f7f;
}

.monthly-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
.monthly-option p {
  margin: 0;
}
.monthly-option .start {
  width: 45%;

  margin: 0;
}

.monthly-option hr {
  color: #000;
  width: 30px;
  margin: 0px;
  border: 1.5px solid #000;
  margin-top: 3.75%;
}
.monthly-option .date-wrapper-parent {
  width: 90%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}
.monthly-option .date-wrapper {
  width: 100%;
  box-sizing: border-box;
}
.monthly-option .date-wrapper input {
  /* padding: 0; */
  width: 40%;
}
.monthly-option-right .date-wrapper {
  width: 60%;
  justify-content: space-between;
}
.monthly-option-right .date-wrapper input {
  min-width: 70px;
}
.form-item {
  border: 1px solid #525f7f;
  margin: 3% 0;
  position: relative;

  padding-right: 20px;
  border-radius: 5px;
  /* overflow: hidden; */
}
.form-image {
  width: 25%;
  /* padding: 10% 7.5%; */
  border: 1px solid #000;
  border-radius: 10px;

  margin-top: 2.5%;
  overflow: hidden;
}
.form-image .top-drop-image {
  background-image: url("../../images/imagePlaceholder.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 18% 10%;
  color: transparent;
}
.form-image .bottom-drop-image {
  background: var(--site-theme-color);
  margin: 0;
  padding: 2.5%;
  color: #fff;
}
.form-item .title-strong {
  position: absolute;
  top: -12px;
  left: 2%;
  overflow: hidden;
  padding: 0 4px;
  background-color: #fff;
}
.form-item input {
  border: 0;
  z-index: 5;
  /* position: absolute; */
  top: 0%;
  left: 0%;
  background-color: transparent;
  padding: 0.5rem 0;
  padding-left: 1rem;
  width: 100%;
}
.form-item textarea {
  border: 0;
  padding: 0.5rem 0;
  padding-left: 1rem;
  width: 100%;
  height: 10rem;
}
.form-item textarea::placeholder {
  color: #525f7f;
}

.form-item select {
  border: 0;
  padding: 0.5rem 0;
  padding-left: 1rem;
  width: 100%;
  color: #525f7f;
}
.double {
  border: 0;
  width: 70%;
}
.disabled {
  opacity: 30%;
}
.double input {
  border: 1px solid #525f7f;
  width: 40%;
}
.double select {
  border: 1px solid #525f7f;
  width: 40%;
}
.fee-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.fee-wrapper select {
  border-radius: 5px;
}
.fee-wrapper input {
  border-radius: 5px;
}
.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.2rem 0;
}
.button-wrapper button {
  background-color: var(--site-cta-color);
  color: var(--site-white-color);
  border: none;
  border-radius: 22px;
  /* padding: 1.1rem 1.5rem; */
}
.button-wrapper .cancel {
  background-color: transparent;
  color: var(--site-cta-color);
  border: 1px solid var(--site-cta-color);
}
/* create live webinar hidden items */

.recurring-frequency-wrapper {
  padding-top: 1rem;
}
.recurring-frequency-wrapper select {
  width: 30%;
  padding: 10px;
}
.start p {
  color: #000;
  font-weight: normal;
}

.start .date-wrapper {
  padding: 0.5rem 0;
}
.end {
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.date-wrapper-parent {
  padding: 0;
}
.date-wrapper-parent p {
  margin: 0;
}
.daily-options-wrapper {
  padding-top: 2rem;

  display: flex;
  flex-wrap: wrap;
  width: 85%;
  /* justify-content: space-between; */
}
.daily-options-wrapper p {
  padding: 5px 10px;
  border: 0.75px solid #000;
  margin-right: 1rem;
  color: #000;
  border-radius: 3px;
  font-weight: 400;
}

.daily-options-wrapper .active {
  background-color: var(--site-theme-color);
  color: var(--site-white-color);
  border: 0.9px solid var(--site-theme-color);
}
.daily-options-wrapper p:hover {
  cursor: pointer;
}
/* stream webinar */

.stream-webinar-content {
  width: 97%;
}

.stream-container {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.video-left {
  width: 70%;
}
.video-background {
  position: relative;
  height: 100%;
}
.watcher-video-bg {
  height: 50vh;
}
.video-background video {
  display: block;
  width: 100%;
  /* background-color: #000; */
  /* max-height: 100%; */
  /* height: 89%; */
  /* height: 592px; */
  /* height: 100%; */
}

.play-button {
  position: relative;

  z-index: 4;
  width: 80px;
  height: 80px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  /* background: url("../../images/play-button.svg"); */
}
.play-button:hover {
  cursor: pointer;
}
.waiting-room {
  width: 100%;
  min-height: 50vh;
  border-radius: 10px;
  /* position: relative; */
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.waiting-controls {
  display: flex;
  align-items: center;

  height: 10%;
  flex-grow: 1;
  width: 80%;
  justify-content: space-between;
  text-align: center;
  font-size: 16px;
  padding: 2.5%;
}
.waiting-controls .control-object {
  display: flex;
  align-items: center;
}
.waiting-controls .control-object p {
  line-height: normal;
  margin: 0;
}
.waiting-controls i {
  font-size: 36px;
  color: var(--site-theme-color);
  margin-right: 0.5rem;
}
.waiting-controls i:hover {
  cursor: pointer;
}
.waiting-room .waiting-image {
  display: flex;
  flex-grow: 1;

  justify-content: center;
  align-items: center;

  height: 80%;
  width: 20%;
}
.waiting-room img {
  border-radius: 50%;
  width: 100%;
}
.waiting-room .audio-controls {
  display: flex;
  width: 15%;
  justify-content: space-between;
  padding: 2% 0;
}
.waiting-room .audio-controls img {
  width: 40%;
}
.waiting-room .audio-controls img:hover {
  cursor: pointer;
}
.play-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 20px 0 20px 26.7px;
  border-color: transparent transparent transparent white;
}

.video-options {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: relative;
  bottom: 100px;
}
.single-video-option {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(217, 217, 217, 0.49);
  color: var(--site-white-color);
  border-radius: 5px;
  padding: 10px 10px;
  width: 100px;
  margin-right: 10px;
}
.single-video-option p {
  margin: 0;
  font-weight: normal;
  line-height: 1.5rem;
}
.single-video-option i {
  font-size: 1.3rem;
}

.chat-right {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  width: 28%;
  text-align: center;
  flex-direction: column;
  /* height: 100%; */
}
.student-section {
  min-height: 100%;

  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-right-waiting {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

  justify-content: center;
}
.chat-right .start-webinar button {
  background-color: #d9d9d9;
  padding-right: 40px;
  padding-left: 40px;
}

.select-audio-output-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.output-device {
  display: flex;
  padding: 5px;

  align-items: center;
}
.output-device p {
  margin: 0;
  padding: 5px 0;
}
.output-device i {
  margin: 5px 7.5px;
}
.toggle-audio {
  display: flex;
  padding: 0.5rem 0.5rem;
  width: 75%;
  justify-content: space-between;
}
.toggle-audio img {
  width: 1.5rem;
}
.toggle-audio div {
  display: flex;
}
.toggle-audio select {
  border: 0;
  /* width: 75%; */
  font-size: 12px;
}
.presenter-controls-wrapper {
  display: flex;

  width: 70%;
  align-items: center;
  padding: 2.5% 0;
  /* margin-top: 5%; */
  background-color: transparent;
  border: 0;
  padding-top: 0;
}
.presenter-controls {
  display: flex;
  width: 85%;
  /* bor */
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0px 1.94048px 1.94048px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0% 2%;
}
.pc-top {
  border: 0.0625rem solid rgba(0, 0, 0, 0.05);
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;

  /* padding: 2% 2%; */
  padding-top: 2%;
  border-bottom: 0;
  justify-content: flex-start;
}
.pc-bottom {
  border: 0.0625rem solid rgba(0, 0, 0, 0.05);
  border-top: 0;
  border-radius: 0;

  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-bottom: 2%;
}
.presenter-controls .control-object {
  width: 12%;
  padding-top: 5%;
  padding-bottom: 2%;

  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.presenter-controls .control-object:hover {
  cursor: pointer;
}
.presenter-controls .control-object i {
  font-size: 1.5rem;
  background: rgba(66, 93, 209, 0.25);
  border-radius: 16px;
  padding: 1.2rem 2rem;
  color: #476efa;
}

.presenter-controls .control-object p {
  padding-top: 0.5rem;
  margin: 0;
  line-height: normal;
  font-size: 14px;
}
.presenter-controls .inactive-control-object {
}
.presenter-controls .inactive-control-object i {
  background: rgba(66, 93, 209, 0.1);
  color: #888;
}
.presenter-controls .more i {
  background: #cecece;
  color: #000;
}
.presenter-controls .share i {
  background: rgba(71, 110, 250, 0.71);
}
.presenter-controls .control-object .poll {
  /* color: yellow; */
}
.presenter-controls .control-object .poll:before {
  /* color: rgba(66, 93, 209 0.3); */
  background-color: transparent;
  /* #425dd100; */
}

.chat-box {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  height: 100%;
  /* max-height: 30rem; */

  justify-content: space-between;
}
.no-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh !important;
}
.no-start p {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  padding: 0 15%;
}
.no-start button {
  width: 70%;
  align-self: center;
  background-color: var(--site-cta-color) !important;
  color: var(--site-white-color);
  border-radius: 35px;
}
.chat-interface {
  background: #eaedf6;

  overflow: hidden;
  box-sizing: border-box;
  /* padding: 5%; */

  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.chat-bubble {
  display: inline-block;

  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  position: relative;
  max-width: 60%;
  /* text-align: left; */
  align-items: flex-start;
  align-self: flex-start;
  background: #000;
}

.chat-bubble::before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background-color: #000;
  border-bottom-right-radius: 15px;
}
.chat-bubble::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: #eaedf6;
  border-bottom-right-radius: 10px;
}
.user-bubble {
  display: inline-block;
  background-color: rgba(71, 110, 250);
  display: flex;
  align-self: flex-end;
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  position: relative;
  max-width: 60%;

  /* text-align: left;
  align-items: flex-start; */
}

.user-bubble::before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -7px;
  height: 20px;
  width: 20px;
  background-color: rgba(71, 110, 250);
  border-bottom-left-radius: 15px;
  overflow: hidden;
}
.user-bubble::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: #eaedf6;
  border-bottom-left-radius: 10px;
}
.chat-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5%;
  background: #ffffff;
  border: 0.4px solid #000000;
  border-radius: 2.95257px;
}
.action-wrapper {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.action-wrapper img {
  width: 1.5rem;
}
.action-wrapper img:hover {
  cursor: pointer;
}

.chat-control input {
  width: 45%;
  background: #e3e1e1;
  border-radius: 13.4035px;
  border: 0;
  padding: 5px;
  padding-left: 10px;
}
.chat-control button {
  max-width: 30%;
  background-color: var(--site-cta-color) !important;
  color: var(--site-white-color) !important;
  border: none;
  border-radius: 22px;
}
/* POLL FORM */

.poll-modal-wrapper {
  max-width: 50%;
}
.poll-modal {
  width: 100%;
  padding: 3% 12%;
  padding-bottom: 5%;
}

.poll-modal .top {
  width: 100%;
  text-align: right;
}
.poll-modal .top h4:hover {
  cursor: pointer;
}
.poll-heading {
  font-weight: 600;
  font-size: 18.5736px;
  line-height: 22px;
  color: #000;
}
.poll-item {
  border: 0.360213px solid #000000;
  border-radius: 2px;
  position: relative;
  margin-top: 2rem;
  padding: 5px;
  padding-top: 7px;
}
.poll-item p {
  margin: 0;
  padding: 0;
  line-height: normal;
  position: absolute;
  bottom: 1.8rem;
  margin-left: 10px;
  background-color: #fff;
  font-weight: bold;
  color: #000;
  /* margin-bottom: 5px; */
}
.poll-item input {
  border: 0;
  width: 100%;
  padding-left: 5px;
}
.quiz-item p {
  position: absolute;
  bottom: 3.7rem;
}
.poll-item textarea {
  border: 0;
  width: 100%;
  padding-left: 5px;
}
.poll-option {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}

.poll-option p {
  margin: 0;
  font-weight: bold;
  color: #000;
}
.poll-option input {
  padding: 5px;
  padding-top: 7px;
  width: 80%;
  border: 0.360213px solid #000000;
  border-radius: 2px;
}
.poll-option p {
  width: 12%;
  text-align: center;
}
.poll-modal .button-wrapper {
  justify-content: flex-start;
}
.poll-modal .cancel-button {
  background-color: #fff;
  color: var(--site-cta-color);
  border: 1px solid var(--site-cta-color);
}
.cancel-big {
  border-radius: 40px;
}
.poll-modal .add-button {
  color: #fff;
  background-color: var(--site-cta-color);
  border: 1px solid var(--site-cta-color);
}
/* REFACTORED */
.stream-webinar-content .page-title {
  display: block;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 10px solid var(--site-theme-color);
}
.page-title .time-constraints {
  display: flex;
  justify-content: end;
}
.page-title__text:first-letter {
  text-transform: uppercase;
}
.time-tracker {
  padding-right: 5%;
  text-align: center;
}
.time-tracker p {
  margin: 0;
}
.live-webinar-interface {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.live-webinar-interface .video-background {
  width: 69.5%;
  max-height: 65vh;
  height: 100%;
  border-radius: 10px;
}
.video-background video {
  height: 65vh;
  background-color: #000;
  border-radius: 10px;
}
.live-webinar-interface .chat-box {
  width: 29.5%;
  height: 65vh;
  border-radius: 10px;
}

.live-webinar-interface .chat-box .chat-interface {
  flex-grow: 1;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.live-webinar-interface .chat-box .chat-interface .chat-interface-text {
  flex-grow: 1;
  overflow: scroll;
  padding: 5%;
}
.live-webinar-interface .chat-box .chat-interface .chat-interface-quiz {
  /* padding: 5%; */
}
.inchat-poll {
  background-color: var(--site-white-color);
  box-shadow: 0px 1.94048px 1.94048px rgba(0, 0, 0, 0.25);
  border-radius: 12px;

  overflow: hidden;
  margin: 0;
  margin-left: 2.5%;
  margin-right: 2.5%;

  min-height: 40%;
  box-sizing: border-box;
}
.inchat-poll .top {
  background-color: #000;
  padding: 0.25rem 1.5rem;
  display: flex;
  color: #fff;

  justify-content: space-between;
}
.inchat-poll .poll-options {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  padding: 0 7.5%;
}
.poll-options .chat-poll-option {
  width: 22.5%;
  text-align: center;
}
.poll-options .poll-chat-poll-option {
  width: 100%;
  text-align: start;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  margin-bottom: 5px;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}
.poll-chat-poll-option .right-option {
  display: flex;
  position: absolute;
  right: 15%;
}
.poll-chat-poll-option .left-option {
}
.poll-chat-poll-option .left-option p {
  display: flex;
  text-align: start;
  padding-left: 0.5rem;
}
.inchat-poll .bottom p {
  text-align: center;
  margin: 0;
  font-size: 10px;
}
.inchat-poll .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  color: #000;
}
/* .inchat-quiz{
  position: absolute;
  width: 90%;
  bottom: -10px;
} */
.quiz-progress,
.quiz-submission {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
}
.quiz-submitted {
  width: 100%;
  justify-content: space-between;
}
.quiz-result-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.quiz-result {
  max-height: 6rem;
  overflow: scroll;
  width: 80%;
  display: flex;

  flex-direction: column;
}
.quiz-result::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.quiz-result::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.single-quiz-result {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: scroll;
  height: 3rem;
  /* padding-bottom: .5rem;
  margin-bottom: .5rem; */
}
.poll-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 15%;
  box-sizing: border-box;
}

.confirm-poll-modal .top {
  width: 100%;
  text-align: right;
  padding: 0% 5%;
  font-size: 12px;
}
.confirm-poll-modal .top h4:hover {
  cursor: pointer;
}
.confirm-poll-modal .confirm-heading {
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-size: 18px;
  color: #000;
}
.watch-webinar-content .page-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.watch-webinar-content .page-title .time-constraints {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  padding: 0;
}
.live-webinar-watch {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin-bottom: 3rem;
}

.live-webinar-watch .watch-left {
  width: 71%;
}
.live-webinar-watch .video-background video {
  height: 52vh;
}

.live-webinar-watch .chat-box {
  width: 27.5%;
  height: 100%;
  flex-flow: column;
  position: absolute;
  right: 0;
}
.live-webinar-watch .chat-box .chat-interface {
  flex-grow: 1;
}
.live-webinar-watch .watch-left .video-background {
  height: auto;
  border-radius: 10px;
}

.watch-left .presenter-controls-wrapper {
  width: 100%;

  padding: 0;
  margin-top: 1rem;
}
.watch-left .presenter-controls {
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}
.watch-left .presenter-controls .control-object {
  padding-top: 2%;
}
.emoji-wrapper div {
  width: 100%;
}
.time-selector {
  padding: 5%;
  justify-content: space-between;
}
.time-selector select {
  padding: 3px;
}
.reconnect-loading {
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  flex-direction: column-reverse;
  height: 65vh;
}
.poll-modal .quiz-button-wrapper {
  display: flex;
  justify-content: space-between;
}
.poll-modal .quiz-button-wrapper button {
  width: 22.5%;
}
.quiz-button-wrapper .quiz-button {
  max-width: 30%;
  background-color: var(--site-cta-color);
  color: var(--site-white-color);
  border: none;
  border-radius: 22px;
}
.quiz-button-wrapper .prev {
  max-width: 30%;
  color: var(--site-cta-color);
  background-color: var(--site-white-color);
  border: none;
  border-radius: 22px;
}
.chat-interface-quiz {
  /* padding: 5%; */
}
.chat-interface-quiz .inchat-poll {
  display: none;
}
.chat-interface-quiz .inchat-poll:last-child {
  display: block;
}
.chat-interface-quiz .inchat-poll .vote {
  max-width: 30%;
  background-color: var(--site-cta-color);
  color: var(--site-white-color);
  border: none;
  border-radius: 22px;
  align-self: center;
}
.chat-interface-text {
  flex-grow: 1;
  overflow: scroll;
  padding: 5%;
}

/* media queries */

/* .startImage{
  background-color: #000;
  height: 100%;
  width: 100%;

} */
.close-time-out {
  padding: 2.5% 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.waiting-image-presenter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* left: 50%; */
  /* top: 50%; */
  width: 100%;
  background: #000;
  height: 100%;
}
.waiting-image-presenter img {
  width: 20%;
}
.mobile-control {
  display: none;
}
.title-bar {
  padding-bottom: 12px;
}
.action-drop-down {
  background-color: #fff;

  position: absolute;
  top: 0.5rem;
  padding: 5% 10%;
  border-radius: 7.345px;

  box-shadow: -0.6677215099334717px -0.6677215099334717px 5.341772079467773px 2.6708860397338867px
    rgba(0, 0, 0, 0.18);

  /* width: 100%; */
  /* left: -100%; */
  z-index: 2;
  width: max-content;
}
.action-drop-down .action-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #000;
}
.action-drop-down .action-item :hover {
  cursor: pointer;
  color: var(--site-theme-color);
}
.action-drop-down .action-item p {
  margin-bottom: 0;
  margin-left: 10px;
}
.action-drop-down .action-item:hover p,
.action-drop-down .action-item:hover i {
  color: var(--site-theme-color);
}
.action-drop-down .delete-item:hover p,
.action-drop-down .delete-item:hover i {
  color: var(--site-cta-color);
}
.edit-spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-body .live-button {
  display: inline-block;
  background-color: red;
  color: #fff;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 20px;
  animation: pulse 1s infinite;

  font-weight: bold;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
.watch-screen {
  max-height: 100vh !important;
  overflow: hidden !important;
}
.table-sort {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.8rem 0;
}
.table-sort select {
  border: 0;
  padding-right: 2%;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
}
.filter-parent {
  display: flex;
  flex-direction: column;
}
.select-wrapper {
  border: 1px solid #cecece;
  padding: 3% 3%;
  width: fit-content;
}
.filter-parent p {
  margin: 0;
  align-self: flex-start;
}
.classroom-resources {
  display: flex;
  align-items: baseline;
  width: 40%;
  justify-content: space-between;
}
.classroom-resources .single-resource-wrapper {
  width: 100%;
}

.classroom-resources .single-resource {
  width: 100%;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
min-width: fit-content;
color: #000;
}
.classroom-resources .single-resource:hover {
 cursor: pointer;
}
.classroom-resources .single-resource p {
  padding-top: .5rem;
}
.classroom-resources .single-resource-img {
  padding: 20% 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9.125px;
  border: 0.332px solid #3d3c3c;
  background: #f9fafd;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.11);
  width: 30%;
}
.classroom-resources img {
  max-height: 40px;
}
@media screen and (max-width: 812px) {
  .live-webinar-interface {
    flex-direction: column;
    position: relative;
  }

  .live-webinar-interface .video-background {
    width: 100%;
  }
  .live-webinar-interface .chat-box {
    width: 100%;
    height: auto !important;
  }
  .presenter-controls-wrapper {
    width: 100%;
  }
  .presenter-controls {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 98%;
    position: absolute;
    bottom: 9px;
  }
  .presenter-controls .control-object {
    width: 25%;
  }
  .webinar-container {
    padding: 1rem 1.5rem;
  }
  .date-wrapper {
    width: auto;
  }
  .form-image {
    width: auto;
    margin-bottom: 2rem;
  }
  .double {
    width: auto;
  }
  .monthly-option .date-wrapper-parent {
    flex-direction: column;
    align-items: baseline;
    width: 100%;
  }
  .monthly-option .start {
    width: 100%;
  }
  .monthly-option hr {
    align-self: center;
  }
  .recurring-frequency-wrapper select {
    width: auto;
  }
  .webinar-container .card-content .table-body {
    align-items: center;
  }
  .webinar-container .card-content .table-body .actions {
    flex-direction: column;
  }
  .waiting-controls {
    width: auto;
    justify-content: space-evenly;
    padding: 5%;
  }
  .waiting-controls .control-object p {
    display: none;
  }
  .webinar-time-prompt {
    flex-direction: column;
  }
  .webinar-time-prompt p {
    text-align: center;
    padding: 5% 0;
  }
  .webinar-time-prompt a {
    padding-bottom: 5%;
  }

  .date-wrapper input[type="date"] {
    width: auto;
    box-sizing: border-box;
    margin-right: 5px;
  }
  .double select {
    width: auto;
  }
  .stream-webinar-content {
    width: 100%;
    height: 100%;
  }
  .live-webinar {
    padding-top: 0;
    height: 100%;
  }
  .stream-webinar-content .page-title {
    padding: 0 17px;
    margin: 0;
    height: 100%;
  }
  .desktop-control {
    display: none;
  }
  .mobile-control {
    display: flex;
  }
  .no-start p {
    padding: 0 10%;
    padding-top: 5%;
  }
  .page-title .time-constraints {
    justify-content: space-between;
    display: none;
  }
  .attendies-span {
    display: none;
  }
  .live-webinar-interface .video-background {
    max-height: 80vh;
    /* height: 80vh; */
    background: #000;
    /* padding-top: 50%; */
  }
  .live-webinar-interface .video-background-active {
    height: 80vh;
    padding-top: 50%;
  }
  .live-webinar-interface .video-background video {
    height: auto;
    width: 100%;
    /* max-width: 85vw; */
    border-radius: 0;
  }
  .live-webinar-interface .video-background-inactive {
    height: 30vh;
    padding-top: 5%;
    background-color: transparent;
  }
  .live-webinar-interface .video-background-inactive video {
    width: 100%;
    height: 20vh;
    max-width: none;
    background-color: transparent;
  }
  .live-webinar-interface .mobile-chat-box {
    height: 55vh !important;
  }
  .presenter-room-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-message {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
  }
  .message-bubble {
    display: flex;
    align-items: center;
    background: #7c98fb;
    width: 60%;
    justify-content: space-between;
    border-radius: 20px;
    padding: 2.5% 5%;
  }
  .message-bubble h4 {
    margin: 0;
    font-size: 1rem;
  }
  .message-bubble p {
    margin: 0;
    padding: 2.5% 5%;
    background: red;
    border-radius: 5px;
  }
  .mobile-time-constraints {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 17px;
  }
  .mobile-time-constraints button {
    background-color: var(--site-cta-color) !important;
    color: var(--site-white-color) !important;
    border: none;
    border-radius: 22px;
    display: flex;
    align-items: center;
  }
  .mobile-time-constraints .time-tracker {
    margin: 0;
  }
  .mobile-time-constraints i {
    font-size: 1.5rem;
  }
  .watch-webinar-content .page-title {
    display: none;
    height: auto !important;
  }
  .live-webinar-watch {
    flex-direction: column;
  }
  .live-webinar-watch .watch-left {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .live-webinar-watch .watch-left .video-background {
    height: 100vh;
    border-radius: 0;
    /* background-color: yellow; */
    /* linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%) */
  }
  .live-webinar-watch .watch-left .video-background video {
    /* object-fit: cover; */
    height: auto;
    border-radius: 0;
  }
  .live-webinar-watch .watch-left .video-background-parent {
    height: 100%;
  }
  .live-webinar-watch .user-bubble {
    background: transparent;
    color: var(--site-white-color);
  }
  .live-webinar-watch .watcher-username {
    color: var(--site-white-color);
  }
  .live-webinar-watch .chat-control {
    background: transparent !important;
    border: 0;
  }
  .watcher-chat-box .user-bubble::before {
    background: transparent;
  }
  .watcher-chat-box .user-bubble::after {
    background: transparent;
  }
  .watcher-chat-box .chat-bubble {
    background: transparent;
  }
  .watcher-chat-box .chat-bubble::before {
    background: transparent;
  }
  .watcher-chat-box .chat-bubble::after {
    background: transparent;
  }
  .watcher-chat-box .chat-bubble::after {
    background: transparent;
  }
  .live-webinar-watch .watcher-chat-box {
    width: 100%;
    bottom: 0;
    height: 50%;
    /* position: revert; */
  }
  .watch-left .presenter-controls {
    display: none;
  }
  .watcher-chat-box .chat-interface {
    background: transparent;
  }
  .mobile-header {
    display: flex;
    justify-content: space-between;
    padding: 5%;
  }
  .mobile-presenter-info {
    display: flex;
    align-items: center;
  }
  .mobile-presenter-info img {
    margin-right: 10px;
  }
  .mobile-presenter-info p {
    line-height: normal;
    margin: 0;
    font-weight: bold;
    color: var(--site-white-color);
  }
  .room-info {
    display: flex;
    align-items: center;
  }
  .room-info {
    color: var(--site-white-color);
    padding-right: 10px;
  }
  .room-info div {
    display: flex;
    align-items: center;
    padding: 7.5% 10%;
    border-radius: 2px;
    margin-right: 7.5px;
    background-color: #676362;
  }
  .room-info div i {
    margin-right: 3px;
  }
  .watcher-chat-box .action-wrapper {
    width: 10%;
  }
  .reconnect-loading {
    height: 100vh;
  }
}
