.notification-page__contents {
  margin-top: 7vh;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  min-height: 50vh;
  height: fit-content;
  background-color: var(--site-white-color);
  padding-right: 3.5vw;
  padding-left: 5vw;
  padding-top: 9vh;
  padding-bottom: 15px;
}

.header-intro__text {
  color: var(--site-dark-color);
  font-weight: 600;
  font-size: 22px;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 0.00000234rem solid #c4c4c4;
}

.notification-header__nav-tab .nav-pills .nav-link {
  cursor: pointer;
  background-color: var(--site-white-color);
  border: 0.00000234rem solid #c4c4c4;
  border-bottom: none;
  border-radius: 1px;
  color: var(--site-dark-color);
  box-shadow: none;
  transition: all 0.3s;
  font-weight: 500;
  font-size: 15px;
  padding-right: 2.3rem;
  padding-left: 2.3rem;
}

.notification-header__nav-tab .nav-pills .nav-link:hover {
  color: var(--site-white-color);
  background-color: var(--site-theme-color);
}

.mobile-view-notification__filter {
  display: none;
}

.notification-header__nav-tab .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--site-white-color);
  background-color: var(--site-theme-color);
}

.notification-header .header-text {
  color: var(--site-dark-color);
  font-weight: 600;
  font-size: 24px;
}

.notification-header .header-controls {
  cursor: pointer;
  color: var(--site-dark-color);
}

.notification-menu .popover-body {
  background-color: var(--site-theme-color);
  border-radius: 4px;
  padding: 10px 0;
}

.notification-menu .bs-popover-top > .arrow::after,
.bs-popover-auto[x-placement^="left"] > .arrow::after {
  border-left-color: var(--site-theme-color);
}

.notification-menu .popover-body .nav-item {
  color: var(--site-white-color);
  padding: 8px 20px;
  transition: all 0.8s;
  width: 190px;
}

.notification-menu .popover-body .nav-item:hover {
  background-color: var(--background-black);
}

.notification-menu .popover-body .link-text {
  color: var(--site-white-color);
}

.notification-menu .popover-body .link-text i {
  margin-right: 10px;
}

.notification-header .header-controls i {
  font-size: 1.1rem;
}

.notification-body {
  width: 100%;
}

.notification-item {
  width: 100%;
  display: flex;
  padding: 10px 0;
  margin: 5px 0;
}

.notification-comment-display-modal__header h3 {
  color: var(--site-dark-color);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.notification-comment-display-modal__header i {
  cursor: pointer;
  font-size: 15px;
  color: var(--site-dark-color);
}

.notification-item-tooltip .notification-menu .bs-popover-top > .arrow::after,
.bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  border-bottom-color: var(--site-theme-color);
}

.notification-item__actions-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 4px;
  align-items: center;
  border-bottom: 0.000623rem solid #c4c4c4;
}

.notification-item__actions-details:hover {
  cursor: pointer;
}

.notification-item__icon {
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--site-theme-color);
  color: var(--site-white-color);
  font-size: 2.3rem;
  font-weight: 600;
  margin-right: 18px;
}

.notification-item__name {
  color: var(--site-dark-color);
  font-weight: 700;
}

.notification-item__name span {
  color: #746e6e;
  margin-left: 10px;
  font-size: 14px;
  font-weight: normal;
}

.notification-message {
  color: #746e6e;
  font-weight: 600;
  font-size: 15px;
  padding: 6px 0;
}

.notification-item__timestamp {
  color: #746e6e;
  font-size: 12px;
}

.notification-item__info-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.notification-item__controls {
  display: flex;
  justify-content: space-between;
}

.notification-menu-control {
  display: flex;
  height: 100%;
  width: 70px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s;
  transform: translateY(-4px);
  opacity: 0;
}

.notification-item:hover .notification-menu-control {
  opacity: 1;
  transform: translateY(0);
}

.icon-container-ellipsis {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0.000654rem solid var(--site-dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.notification-indicator {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--site-cta-color);
}

.notification-modal-header {
  background-color: var(--site-theme-color);
}

.notification-modal-header h3 {
  font-size: 20px;
  color: var(--site-white-color);
}

@media screen and (max-width: 768px) {
  .mobile-view-notification__filter {
    display: block;
    width: 100%;
    min-width: 200px;
  }
  .notification-header__nav-tab {
    display: none;
  }
}
