.setting__content {
    width: 85%;
    margin: 0 auto;
}

.settings-page__title {
    color: var(--site-dark-color);
    font-size: 27px;
    font-weight: 600;
}

.settings-forms__container {
    width: 100%;
    background-color: var(--site-white-color);
    padding: 4rem 2.7rem;
}

.settings-forms__container
.form-group {
    position: relative;
    margin-bottom: 3.8vh;
}  

.settings-forms__container
.form__input {
    border-radius: 3px;
    font-size: 16px;
    transition: all 0.3s;
    width: 100%;
    display: block;
    border: 0.5px solid #cad1d7;
    padding: 12px 22px;
    color: var(--alt-text-color);
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
  }

  .settings-forms__container
  .input-icon__group {
    border-radius: 3px;
    font-size: 16px;
    transition: all 0.3s;
    width: 100%;
    display: block;
    border: 0.5px solid #cad1d7;
    padding: 12px 22px;
    color: var(--alt-text-color);
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .settings-forms__container
  .input-icon__group > input {
    width: 95%;
    border: none;
  }
  
  .settings-forms__container
  .input-icon__group .lock-icon {
    color: var(--alt-text-color);
  }

  .settings-forms__container
  .input-icon__group > input::-webkit-input-placeholder {
    color: #cad1d7;
}

.settings-forms__container
.input-icon__group > input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(3px);
}

  .settings-forms__container
  .input-icon__group i {
    color: var(--alt-text-color);
  }
  
.settings-forms__container
.form__input::-webkit-input-placeholder {
    color: #cad1d7;
}

.settings-forms__container
.form__label {
    color: #cad1d7;
    margin-left: 20px;
    display: block;
    position: absolute;
    transition: all 0.3s;
    background-color: var(--site-white-color);
    top: 0;
    margin-top: -9px !important;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .settings-forms__container
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(3px);
  }
  
  .school-url-info {
    font-weight: 500;
  }

  .school-url-info > span {
    color: var(--site-cta-color);
  }

  .settings-button__style {
    margin-bottom: 20px;
  }

  .settings-modal__header h3 {
    color: var(--site-dark-color);
    font-size: 18px;
    font-weight: 500;
  }

  .settings-modal__header
  .settings-modal-close__btn {
    cursor: pointer;
  }

  .success-modal-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.6rem;
  }

  .success-modal-content-container i {
    font-size: 4rem;
    color: var(--site-theme-color);
    margin: 20px 0;
  }

  .success-modal-content-container h4 {
    color: var(--site-dark-color);
    text-align: center;
    margin: 10px 3px;
    font-size: 2rem;
  }

  .success-modal-content-container
  .success-modal-btn {
    margin-left: 7.8px;
  }

  .delete-account-modal__content {
    text-align: center;
    padding: 1.3rem 1rem;
  }

  .delete-account-modal__content h2 {
    margin-bottom: 4rem;
    color: var(--site-cta-color) !important;
    font-weight: 800;
    text-transform: uppercase;
  }

  .delete-account-modal__content h4 {
    color: var(--site-dark-color) !important;
    font-weight: 800;
    font-size: 1.9rem;
  }