.tutorial-content__container {
    width: 90%;
    margin: 0 auto;
}

.tutorial-page__title {
    padding: 1.4rem 2rem;
    border-top: 3.4px solid var(--site-theme-color);
    background-color: var(--site-white-color);
    margin-top: 2rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.tutorial-page__title h3 {
    color: var(--site-dark-color);
    font-weight: 700;
}

.page-description__container {
    padding: 1.4rem 2rem;
}

.tutorial-page__description {
    color: var(--site-dark-color);
    font-weight: 400;
    font-size: 1.6rem;
}

.tutorials-container {
    width: 100%;
    margin-top: 1rem;
}

.no-tutorials-found {
    width: 100%;
}

.tutorial-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    cursor: pointer;
}

.tutorial-item img {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tutorial-item p {
    color: var(--site-dark-color);
    font-weight: 400;
    margin-top: 8px;
}

@media screen and (max-width: 682px) {
    .tutorial-item {
        margin: .5rem;
    }
}