.student-dashboard-reply-item {
  width: 95%;
  display: flex;
}

.student-dashboard-reply-user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.3vw;
}

.student-dashboard-reply-name-and-timestamp {
  /* color: #569d6b; */
  margin: 0;
  padding: 0;
}

.student-dashboard-reply-name-control .student-dashboard-reply-menu {
  /* color: #6f6c6c; */
  cursor: pointer;
}

.student-dashboard-reply-text {
  width: 100%;
}

.student-dashboard-reply-text p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 15px;
}

.student-dashboard-reply-name-and-timestamp span {
  color: #6f6c6c;
}

.student-dashboard-reply-item__details {
  flex: 2;
}

.student-dashboard-reply-name-control {
  display: flex;
  justify-content: space-between;
}
