.suggested-followup-item {
  min-width: 35%;
}

.item-name {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin: 9px 0;
}

.item-author-name {
  color: #fff;
  font-size: 12px;
}

.item-price {
  color: #fff;
  font-size: 18px;
  margin-top: 3px;
  font-weight: lighter;
}

@media screen and (max-width: 767px) {
  .suggested-followup-item {
    margin-right: 15px;
  }
}
