.video-js.vjs-fill:not(.vjs-audio-only-mode) {
  width: 100%;
  height: 75vh;
}

.video-js.vjs-16-9:not(.vjs-audio-only-mode) {
  padding-top: 0;
}

.video-js .vjs-tech {
  height: 75vh;
}

.customOverlay {
  padding: 1rem 1.4rem;
  position: relative;
  font-size: 11px;
  z-index: 1;
  text-transform: uppercase;
  transition: all 10s;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
