.image-text {
  width: 100%;
  height: 53vh;
  position: relative;
}

.image-text-section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 6px solid #e45e66;
  transition: all 10;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
  transition: all 0.9s;
}

.image-text:hover .image-text-section-overlay {
  display: block;
}

.image-text:active .image-text-section-overlay {
  display: block;
  cursor: grabbing;
  border: 6px solid #f6c028;
}

.image-text-section-overlay .image-text-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-text-section-overlay .image-text-controls button,
.image-text-section-overlay .image-text-controls button:hover,
.image-text-section-overlay .image-text-controls button:active {
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px;
  background-color: #e45e66;
  color: #fff;
  border: none;
}

/* jvfjfkj */

.image-text-section-overlay .add-section-btn {
  width: 100px;
  height: 50px;
  background-color: #e45e66;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.image-text-section-overlay .add-section-btn i {
  color: #fff;
  font-size: 1.8rem;
}

/* .kvfkler */

.image-text__container--regular-section-standard {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.image-text__container--regular-section-alternate {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.image-container-standard {
  height: 100%;
  width: 480px;
  /* max-width: 480px;
    min-width: 480px; */
}

.image-container-alternate {
  height: 100%;
  width: 480px;
  /* max-width: 480px;
    min-width: 480px; */
}

.image-container-standard img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.image-container-alternate img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.text-container-standard {
  padding: 3vh 7vw;
  width: 70%;
}

.text-container-alternate {
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 7vw;
  width: 70%;
}

.text-container-standard h3 {
  font-weight: 600;
}

.text-container-alternate h3 {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .image-text {
    height: fit-content;
  }

  .image-text__container--regular-section-standard {
    flex-direction: column;
  }

  .image-text__container--regular-sectio9n-alternate {
    flex-direction: column;
  }

  .image-container-standard {
    width: 100%;
  }

  .image-container-standard img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .image-container-alternate {
    width: 100%;
  }

  .image-container-alternate img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 946px) {
  .text-container-standard {
    width: 100%;
  }

  .text-container-alternate {
    width: 100%;
  }

  .text-container-standard h3 {
    font-size: 25px;
  }

  .text-container-standard p {
    font-size: 13px;
  }

  .text-container-alternate h3 {
    font-size: 25px;
  }

  .text-container-alternate p {
    font-size: 13px;
  }
}
