.text-checklist-section {
    position: relative;
    padding: 15vh 3vw;
    width: 100%;
}

.icon-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-item {
    display: flex;
    width: 60%;
}

.text-checklist-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 6px solid #e45e66;
    transition: all 10;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
    transition: all .9s;
}

.text-checklist-section:hover .text-checklist-overlay {
    display: block;
}

.text-checklist-section:active .text-checklist-overlay {
    display: block;
    cursor: grabbing;
    border: 6px solid #F6C028;
}

.text-checklist-overlay .text-checklist-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* jvfjfkj */

.text-checklist-overlay .add-section-btn {
    width: 100px;
    height: 50px;
    background-color: #e45e66;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-checklist-overlay .add-section-btn i {
    color: #fff;
    font-size: 1.8rem;
}

/* .kvfkler */

.text-checklist-overlay .text-checklist-controls button,
.text-checklist-overlay .text-checklist-controls button:hover,
.text-checklist-overlay .text-checklist-controls button:active
{
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    background-color: #e45e66;
    color: #fff;
    border: none;
}


.modal-checklist-container {
    width: 100%;
}

.modal-checklist-item {
    display: flex;
    padding: 4px 6px;
    justify-content: space-between;
    align-items: center;
}

.modal-list-item-text {
    font-size: 12.3px;
    font-weight: 500;
}

.modal-list-item-delete {
    cursor: pointer;
}

.modal-list-item-delete i {
   font-size: 13px;
}