.video-section {
    position: relative;
    width: 100%;
    height: 90vh;
    padding: 3vh 2vw;
}

.video-intro-text {
    margin: 10px 0;
}

.video-section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 6px solid #e45e66;
    transition: all 10;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
    transition: all .9s;
}

.video-section:hover .video-section-overlay {
    display: block;
}

.video-section:active .video-section-overlay {
    display: block;
    cursor: grabbing;
    border: 6px solid #F6C028;
}

.video-section-overlay .video-section-overlay-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* jvfjfkj */

.video-section-overlay .add-section-btn {
    width: 100px;
    height: 50px;
    background-color: #e45e66;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-section-overlay .add-section-btn i {
    color: #fff;
    font-size: 1.8rem;
}

/* .kvfkler */

.video-section-overlay .video-section-overlay-controls button,
.video-section-overlay .video-section-overlay-controls button:hover,
.video-section-overlay .video-section-overlay-controls button:active
{
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px;
    background-color: #e45e66;
    color: #fff;
    border: none;
}

@media screen and (max-width: 767px) {
    .video-section {
        position: relative;
        width: 100%;
        height: fit-content;
    }
}